/*
    1. Navbar
*/

/* ==========================================================================
1. Navbar
========================================================================== */

.navbar {
  height: 70px;
  transition: all 0.3s;

  &.is-fade {
    background: transparent;

    &.is-scrolled {
      background: var(--navbar-bg-color);
      box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
    }
  }

  &.is-solid {
    background: var(--navbar-bg-color);
    border-bottom-color: var(--navbar-border-color);
    box-shadow: none;

    .navbar-menu {
      border-bottom: 1px solid ar(--navbar-border-color);
    }

    .navbar-item {
      &.is-end-bordered {
        border-color: var(--wrap-border-color);
      }
    }
  }

  &.is-centered {
    .navbar-brand {
      display: none;
    }

    .navbar-menu {
      justify-content: space-between;

      .navbar-start,
      .navbar-end {
        width: 20%;
      }

      .navbar-start {
        .left-brand {
          display: flex;
          align-items: center;

          .navbar-item {
            img {
              display: block;
              width: 100%;
              max-width: 140px;
              max-height: 38px;
            }
          }
        }
      }

      .navbar-center {
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;

        .centered-brand {
          .navbar-item {
            img {
              display: block;
              width: 100%;
              max-width: 140px;
              max-height: 38px;
              margin: 0 auto;
            }
          }
        }

        .navbar-item {
          &.is-search {
            flex-grow: 2;
            max-width: 450px;
            margin: 0 auto;

            .control {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .navbar-brand {
    height: 70px;

    .navbar-logo {
      display: block;
      width: 100%;
      max-width: 140px;
      max-height: 38px;
    }

    .navbar-burger {
      height: 70px;
      width: 70px;
    }
  }

  .navbar-menu {
    &.is-active {
      background: var(--navbar-bg-color);
    }
  }

  .navbar-item {
    font-family: var(--font);
    color: var(--navbar-link-color-medium);
    transition: color 0.3s;

    .caret {
      font-size: 1.1rem;
      margin-#{$start-direction}: 0.15rem;
      transition: transform 0.3s;
    }

    &:hover {
      color: var(--light-text);

      .caret {
        transform: rotate(180deg);
      }
    }

    &.has-dropdown {
      .navbar-link {
        color: var(--navbar-link-color-medium);

        &:hover {
          color: var(--light-text);
          background: transparent;
        }
      }

      .navbar-dropdown {
        width: 240px;
        background: var(--navbar-bg-color);
        border: 1px solid var(--navbar-border-color);
        box-shadow: var(--light-box-shadow);

        .navbar-item {
          color: var(--navbar-link-color-medium);

          &:hover {
            background: var(--dropdown-item-bg-color-hover);
            color: var(--light-text);
          }
        }
      }
    }

    > .social-item {
      color: var(--medium-text);
      transition: color 0.3s;

      &:hover {
        color: var(--light-text);
      }
    }

    > .button {
      min-height: 44px;
      min-width: 110px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    &.is-centered {
      &:not(.no-nav) {
        .navbar-brand {
          display: flex;
        }

        .navbar-menu {
          .navbar-center {
            display: none !important;
          }
        }
      }

      &.no-nav {
        .navbar-menu {
          display: flex !important;
          padding: 0 !important;
          box-shadow: none !important;
          background: transparent !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    .navbar-menu {
      .navbar-item {
        .button {
          min-height: 46px;
          width: 100%;
        }

        &:not(.has-dropdown) {
          .caret {
            position: relative;
            top: 3px;
          }
        }

        &.has-dropdown {
          .navbar-dropdown {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .navbar {
    .navbar-menu {
      max-width: 100%;

      .navbar-item {
        .button {
          min-height: 46px;
          width: 100%;
        }

        &:not(.has-dropdown) {
          .caret {
            position: relative;
            top: 3px;
          }
        }

        &.has-dropdown {
          .navbar-dropdown {
            width: 100%;
          }
        }

        &.is-mobile-centered {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .navbar {
    .navbar-menu {
      .navbar-item {
        &.has-dropdown {
          .navbar-dropdown {
            box-shadow: none;
            border: none;
            display: none;

            &.is-active {
              display: block;
            }
          }
        }

        &.is-mobile-centered {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
