.login-wrapper {
  position: relative;
  min-height: 100vh;
  background: var(--hero-grey-bg-color);

  .login-nav {
    position: absolute;
    top: 0;
    #{$start-direction}: 0;
    width: 100%;
    padding: 0 0.75rem;

    .login-nav-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 4.5rem;

      .start {
        display: flex;
        align-items: center;

        .navbar-brand {
          img {
            height: 38px;
            max-height: 38px;
            width: auto;
          }
      
          .logo-text {
            margin-#{$start-direction}: 1rem;
            font-family: var(--font-alt);
            font-size: 1.5rem;
            color: var(--title-color);
            font-weight: 500;
          }
        }
      }

      .end {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  .login-caption {
    max-width: 420px;
    margin: 0 auto 1.5rem;
    text-align: center;

    p {
      color: var(--medium-text);
    }
  }

  .login-form {
    background: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    max-width: 420px;
    padding: 2.5rem;
    margin: 0 auto;

    .control {
      &.has-icon {
        .form-icon {
          height: 48px;
          width: 48px;
        }
      }
    }

    .input {
      min-height: 48px;
      padding-#{$start-direction}: 48px;
    }

    .login-conditions {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;

      .f-switch {
        transform: scale(0.75);
      }

      span {
        font-family: var(--font);
        font-size: 0.9rem;
        color: var(--medium-text);

        a {
          color: var(--primary);
        }
      }
    }

    .buttons {
      margin-top: 1rem;
      margin-bottom: 0.5rem;

      .button {
        min-height: 48px;
      }
    }

    .login-link {
      text-align: center;

      a {
        font-family: var(--font);
        font-size: 0.9rem;
        color: var(--light-text);
        transition: color 0.3s;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .login-wrapper {
    .login-form {
      padding: 2rem;
    }
  }
}
