<div class="feature-block-v12">
  <!-- Feature -->
  <div class="py-6">
    <div class="columns is-vcentered b-centered-tablet-p">
      <div class="column is-6">
        <img src="/img/photo/600x500/3.jpg" alt="Block image" />
      </div>

      <div class="column is-5">
        <span class="is-block is-uppercase mb-2 text-primary"
          >We Help People</span
        >
        <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
          We bring happiness to sad people
        </h3>
        <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud non
          continuo, ut aeque incontentae. Duo Reges: constructio interrete. Si
          qua in iis corrigere voluit, deteriora fecit. Sit enim idem caecus,
          debilis.
        </p>

        <a class="action-link" href="#">
          <span>See how we help people</span>
          <i class="iconify" data-icon="lucide:arrow-right"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Feature -->
  <div class="py-6">
    <div class="columns is-vcentered b-centered-tablet-p">
      <div class="column is-5 is-offset-1">
        <span class="is-block is-uppercase mb-2 text-primary"
          >Munchies for puppies</span
        >
        <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
          Looks like this big boy is hungry
        </h3>
        <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud non
          continuo, ut aeque incontentae. Duo Reges: constructio interrete. Si
          qua in iis corrigere voluit, deteriora fecit. Sit enim idem caecus,
          debilis.
        </p>
        <ul class="pl-4 small:hidden">
          <li class="is-flex is-align-items-center py-2">
            <i class="iconify text-primary rem-125" data-icon="lucide:check"
            ></i>
            <div class="ml-2">
              <p class="small:max-w-2 text-medium">100% Natural animal food</p>
            </div>
          </li>
          <li class="is-flex is-align-items-center py-2">
            <i class="iconify text-primary rem-125" data-icon="lucide:check"
            ></i>
            <div class="ml-2">
              <p class="small:max-w-2 text-medium">Certified by the state</p>
            </div>
          </li>
          <li class="is-flex is-align-items-center py-2">
            <i class="iconify text-primary rem-125" data-icon="lucide:check"
            ></i>
            <div class="ml-2">
              <p class="small:max-w-2 text-medium">Tax Free</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="column is-6">
        <img src="/img/photo/600x500/4.jpg" alt="Block image" />
      </div>
    </div>
  </div>

  <!-- Feature -->
  <div class="py-6">
    <div class="columns is-vcentered b-centered-tablet-p">
      <div class="column is-6">
        <img src="/img/photo/600x500/5.jpg" alt="Block image" />
      </div>

      <div class="column is-5">
        <span class="is-block is-uppercase mb-2 text-primary">Scary Books</span>
        <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
          H.P Lovecraft dark horror stories
        </h3>
        <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud non
          continuo, ut aeque incontentae. Duo Reges: constructio interrete. Si
          qua in iis corrigere voluit, deteriora fecit. Sit enim idem caecus,
          debilis.
        </p>

        <a class="action-link" href="#">
          <span>Learn more about Lovecraft</span>
          <i class="iconify" data-icon="lucide:arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
