<div class="feature-block-v3">
  <div class="columns b-columns-half-tablet-p is-multiline mx-auto max-w-8">
    <!-- Feature -->
    <div class="column is-6">
      <div class="card">
        <div class="card-content">
          <i class="iconify rem-200 text-primary" data-icon="ph:crown-duotone"
          ></i>
          <h4 class="title is-6 is-narrow">For Pros</h4>
          <p class="pt-2 max-w-4 text-medium rem-95 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            videbimus. Hoc est non dividere.
          </p>
          <a class="action-link rem-95" href="#">
            <span>Learn More</span>
            <i class="iconify" data-icon="lucide:arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-6">
      <div class="card">
        <div class="card-content">
          <i class="iconify rem-200 text-primary" data-icon="ph:wine-duotone"
          ></i>
          <h4 class="title is-6 is-narrow">For Business</h4>
          <p class="pt-2 max-w-4 text-medium rem-95 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            videbimus. Hoc est non dividere.
          </p>
          <a class="action-link rem-95" href="#">
            <span>Learn More</span>
            <i class="iconify" data-icon="lucide:arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-6">
      <div class="card">
        <div class="card-content">
          <i class="iconify rem-200 text-primary" data-icon="ph:trophy-duotone"
          ></i>
          <h4 class="title is-6 is-narrow">For Champions</h4>
          <p class="pt-2 max-w-4 text-medium rem-95 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            videbimus. Hoc est non dividere.
          </p>
          <a class="action-link rem-95" href="#">
            <span>Learn More</span>
            <i class="iconify" data-icon="lucide:arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-6">
      <div class="card">
        <div class="card-content">
          <i class="iconify rem-200 text-primary" data-icon="ph:rocket-duotone"
          ></i>
          <h4 class="title is-6 is-narrow">For Startups</h4>
          <p class="pt-2 max-w-4 text-medium rem-95 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            videbimus. Hoc est non dividere.
          </p>
          <a class="action-link rem-95" href="#">
            <span>Learn More</span>
            <i class="iconify" data-icon="lucide:arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
