<div class="feature-block-v1">
  <div class="columns is-multiline b-columns-half-tablet-p has-text-centered">
    <!-- Feature -->
    <div class="column is-4">
      <div class="py-4">
        <i class="iconify rem-200 text-primary" data-icon="ph:crown-duotone"
        ></i>
        <h4 class="title is-6 is-narrow">For Pros</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus. Hoc est non dividere, sed frangere.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-4">
      <div class="py-4">
        <i class="iconify rem-200 text-primary" data-icon="ph:wine-duotone"></i>
        <h4 class="title is-6 is-narrow">For Business</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus. Hoc est non dividere, sed frangere.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-4">
      <div class="py-4">
        <i class="iconify rem-200 text-primary" data-icon="ph:trophy-duotone"
        ></i>
        <h4 class="title is-6 is-narrow">For Champions</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus. Hoc est non dividere, sed frangere.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-4">
      <div class="py-4">
        <i class="iconify rem-200 text-primary" data-icon="ph:rocket-duotone"
        ></i>
        <h4 class="title is-6 is-narrow">For Startups</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus. Hoc est non dividere, sed frangere.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-4">
      <div class="py-4">
        <i
          class="iconify rem-200 text-primary"
          data-icon="ph:storefront-duotone"></i>
        <h4 class="title is-6 is-narrow">For Merchants</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus. Hoc est non dividere, sed frangere.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-4">
      <div class="py-4">
        <i class="iconify rem-200 text-primary" data-icon="ph:megaphone-duotone"
        ></i>
        <h4 class="title is-6 is-narrow">For Marketers</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus. Hoc est non dividere, sed frangere.
        </p>
      </div>
    </div>
  </div>
</div>
