<div class="feature-block-v11">
  <div class="columns is-vcentered py-4">
    <div class="column is-5">
      <h2 class="title is-3">Hiring made simple</h2>
      <p class="max-w-tp-full medium:max-w-4 mb-4 text-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illi enim inter
        se dissentiunt. Expectoque quid ad id, quod quaerebam, respondeas.
        Nescio quo modo praetervolavit oratio. Duo Reges: constructio interrete.
        Disserendi artem nullam.
      </p>

      <a class="action-link" href="#">
        <span>See how we hire people</span>
        <i class="iconify" data-icon="lucide:arrow-right"></i>
      </a>
    </div>
    <div class="column is-6 is-offset-1">
      <div class="columns is-multiline b-columns-half-tablet-p">
        <div class="column is-6">
          <div class="py-2 medium:py-4">
            <i
              class="iconify rem-150 text-primary"
              data-icon="ph:coffee-duotone"></i>
            <h4 class="title is-6 is-narrow">First, relax</h4>
            <p class="pt-2 max-w-2 text-medium rem-90">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="py-2 medium:py-4">
            <i
              class="iconify rem-150 text-primary"
              data-icon="ph:users-three-duotone"></i>
            <h4 class="title is-6 is-narrow">Find candidates</h4>
            <p class="pt-2 max-w-2 text-medium rem-90">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="py-2 medium:py-4">
            <i class="iconify rem-150 text-primary" data-icon="ph:gauge-duotone"
            ></i>
            <h4 class="title is-6 is-narrow">Run tests</h4>
            <p class="pt-2 max-w-2 text-medium rem-90">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="py-2 medium:py-4">
            <i
              class="iconify rem-150 text-primary"
              data-icon="ph:flag-checkered-duotone"></i>
            <h4 class="title is-6 is-narrow">Hire safely</h4>
            <p class="pt-2 max-w-2 text-medium rem-90">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
