<div class="feature-block-v4">
  <div class="mx-auto max-w-9">
    <div class="columns is-multiline b-columns-half-tablet-p">
      <div class="column is-4">
        <div class="box is-bordered has-text-centered p-6 large:p-10">
          <i
            class="iconify rem-250 text-primary mb-4"
            data-icon="ph:hamburger-duotone"></i>
          <h4 class="title is-6 is-leading">Delicious Burgers</h4>
          <p class="mx-auto max-w-2 mb-4 text-medium rem-90">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            videbimus. Hoc est non dividere, sed frangere.
          </p>
          <a class="action-link rem-95" href="#">
            <span>Order Now</span>
            <i class="iconify" data-icon="lucide:arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="column is-4">
        <div class="box is-bordered has-text-centered p-6 large:p-10">
          <i
            class="iconify rem-250 text-primary mb-4"
            data-icon="ph:pizza-duotone"></i>
          <h4 class="title is-6 is-leading">Tasty Pizzas</h4>
          <p class="mx-auto max-w-2 mb-4 text-medium rem-90">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            videbimus. Hoc est non dividere, sed frangere.
          </p>
          <a class="action-link rem-95" href="#">
            <span>Order Now</span>
            <i class="iconify" data-icon="lucide:arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="column is-4">
        <div class="box is-bordered has-text-centered p-6 large:p-10">
          <i
            class="iconify rem-250 text-primary mb-4"
            data-icon="ph:cookie-duotone"></i>
          <h4 class="title is-6 is-leading">Yummy Cookies</h4>
          <p class="mx-auto max-w-2 mb-4 text-medium rem-90">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            videbimus. Hoc est non dividere, sed frangere.
          </p>
          <a class="action-link rem-95" href="#">
            <span>Order Now</span>
            <i class="iconify" data-icon="lucide:arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
