<div class="feature-block-v7">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="block mb-4 has-text-centered mx-auto max-w-8">
        <img
          class="is-16by9"
          src="/img/photo/940x530/1.jpg"
          alt="Block image"
        />

        <div class="columns b-columns-third-tablet-p has-text-left mt-4">
          <!-- Feature -->
          <div class="column is-4">
            <div class="media">
              <div class="media-content">
                <i
                  class="iconify rem-175 text-primary"
                  data-icon="ph:medal-duotone"></i>
                <h4 class="title is-6 is-leading">Efficiency</h4>
                <p class="text-medium rem-90">
                  Your data is virtually unhackable compared to traditional net
                </p>
              </div>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="media">
              <div class="media-content">
                <i
                  class="iconify rem-175 text-primary"
                  data-icon="ph:timer-duotone"></i>
                <h4 class="title is-6 is-leading">Productivity</h4>
                <p class="text-medium rem-90">
                  Your data is virtually unhackable compared to traditional net
                </p>
              </div>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="media">
              <div class="media-content">
                <i
                  class="iconify rem-175 text-primary"
                  data-icon="ph:shield-check-duotone"></i>
                <h4 class="title is-6 is-leading">Security</h4>
                <p class="text-medium rem-90">
                  Your data is virtually unhackable compared to traditional net
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
