<div class="feature-block-v8">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="block mb-4 has-text-centered mx-auto max-w-8">
        <img
          class="is-16by9"
          src="/img/photo/940x530/2.jpg"
          alt="Block image"
        />

        <div class="columns b-columns-third-tablet-p has-text-left mt-4">
          <!-- Feature -->
          <div class="column is-4 has-text-centered">
            <div
              class="mx-auto is-44x44 is-flex is-justify-content-center is-align-items-center is-circle bg-grey"
            >
              <i
                class="iconify rem-175 text-primary"
                data-icon="ph:gear-six-duotone"></i>
            </div>
            <div class="py-2">
              <h4 class="title is-6 is-leading">Robust engine</h4>
              <p class="mx-auto max-w-2 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4 has-text-centered">
            <div
              class="mx-auto is-44x44 is-flex is-justify-content-center is-align-items-center is-circle bg-grey"
            >
              <i class="iconify rem-175 text-primary" data-icon="ph:car-duotone"
              ></i>
            </div>
            <div class="py-2">
              <h4 class="title is-6 is-leading">Elegant design</h4>
              <p class="mx-auto max-w-2 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4 has-text-centered">
            <div
              class="mx-auto is-44x44 is-flex is-justify-content-center is-align-items-center is-circle bg-grey"
            >
              <i
                class="iconify rem-175 text-primary"
                data-icon="ph:gas-pump-duotone"></i>
            </div>
            <div class="py-2">
              <h4 class="title is-6 is-leading">Moderate fuel</h4>
              <p class="mx-auto max-w-2 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
