<div class="feature-block-v10">
  <div class="py-4">
    <h2 class="title is-4">Classic Engines</h2>
    <p class="subtitle is-6 max-w-7 pt-2 text-medium">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illi enim inter
      se dissentiunt. Expectoque quid ad id, quod quaerebam, respondeas. Nescio
      quo modo praetervolavit oratio.
    </p>
  </div>

  <div class="py-4">
    <div class="columns is-multiline b-columns-half-tablet-p">
      <!-- Feature -->
      <div class="column is-4">
        <img
          class="block mb-4"
          src="/img/photo/600x400/1.jpg"
          alt="Block image"
        />
        <div>
          <h4 class="title is-6 is-narrow">Calibra &mdash; Mark II</h4>
          <p class="pt-2 text-medium rem-95 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illi enim
            inter se dissentiunt. Expectoque quid ad id, quod quaerebam,
            respondeas.
          </p>

          <a class="action-link rem-95" href="#">
            <span>Learn More</span>
            <i class="iconify" data-icon="lucide:arrow-right"></i>
          </a>
        </div>
      </div>
      <!-- Feature -->
      <div class="column is-4">
        <img
          class="block mb-4"
          src="/img/photo/600x400/2.jpg"
          alt="Block image"
        />
        <div>
          <h4 class="title is-6 is-narrow">Impreza &mdash; X Series</h4>
          <p class="pt-2 text-medium rem-95 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illi enim
            inter se dissentiunt. Expectoque quid ad id, quod quaerebam,
            respondeas.
          </p>

          <a class="action-link rem-95" href="#">
            <span>Learn More</span>
            <i class="iconify" data-icon="lucide:arrow-right"></i>
          </a>
        </div>
      </div>
      <!-- Feature -->
      <div class="column is-4">
        <img
          class="block mb-4"
          src="/img/photo/600x400/3.jpg"
          alt="Block image"
        />
        <div>
          <h4 class="title is-6 is-narrow">Mustang &mdash; A Series</h4>
          <p class="pt-2 text-medium rem-95 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illi enim
            inter se dissentiunt. Expectoque quid ad id, quod quaerebam,
            respondeas.
          </p>

          <a class="action-link rem-95" href="#">
            <span>Learn More</span>
            <i class="iconify" data-icon="lucide:arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
