<div class="feature-block-v9">
  <div class="columns is-multiline b-columns-half-tablet-p has-text-centered">
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4 px-2">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
        >
          <i class="iconify rem-150" data-icon="ph:crown-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow pt-3">For Pros</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-90">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4 px-2">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
        >
          <i class="iconify rem-150" data-icon="ph:wine-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow pt-3">For Business</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-90">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4 px-2">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
        >
          <i class="iconify rem-150" data-icon="ph:trophy-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow pt-3">For Champions</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-90">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4 px-2">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
        >
          <i class="iconify rem-150" data-icon="ph:rocket-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow pt-3">For Startups</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-90">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4 px-2">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
        >
          <i class="iconify rem-150" data-icon="ph:storefront-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow pt-3">For Merchants</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-90">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4 px-2">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
        >
          <i class="iconify rem-150" data-icon="ph:megaphone-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow pt-3">For Marketers</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-90">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4 px-2">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
        >
          <i class="iconify rem-150" data-icon="ph:parachute-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow pt-3">For Explorators</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-90">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4 px-2">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
        >
          <i class="iconify rem-150" data-icon="ph:microphone-stage-duotone"
          ></i>
        </div>
        <h4 class="title is-6 is-narrow pt-3">For Artists</h4>
        <p class="pt-2 mx-auto max-w-3 text-medium rem-90">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>
</div>
