<div class="feature-block-v5">
  <div class="columns is-vcentered is-multiline">
    <div class="column is-6">
      <h2 class="title is-4">Transform your lifestyle</h2>
      <p class="max-w-tp-full medium:max-w-4 mb-4 text-medium rem-95">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illi enim inter
        se dissentiunt. Expectoque quid ad id, quod quaerebam, respondeas.
        Nescio quo modo praetervolavit oratio. Duo Reges: constructio interrete.
        Disserendi artem nullam habuit. Videsne quam sit magna dissensio? Ecce
        aliud simile dissimile.
      </p>

      <div class="columns b-columns-half-tablet-p">
        <div class="column is-6">
          <div class="py-2 medium:py-4">
            <h4 class="title is-6 is-narrow">Fitness classes</h4>
            <p class="pt-2 max-w-2 text-light rem-90 mb-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <a class="action-link rem-85" href="#">
              <span>Learn More</span>
              <i class="iconify" data-icon="lucide:arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="column is-6">
          <div class="py-2 medium:py-4">
            <h4 class="title is-6 is-narrow">Yoga classes</h4>
            <p class="pt-2 max-w-2 text-light rem-90 mb-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <a class="action-link rem-85" href="#">
              <span>Learn More</span>
              <i class="iconify" data-icon="lucide:arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-6">
      <img
        class="block mx-auto"
        src="/img/photo/600x500/1.jpg"
        alt="Block image"
      />
    </div>
  </div>
</div>
