<div class="feature-block-v2">
  <div class="columns b-columns-half-tablet-p is-multiline">
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
        >
          <i class="iconify rem-150" data-icon="ph:crown-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow">For Pros</h4>
        <p class="pt-2 max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
        >
          <i class="iconify rem-150" data-icon="ph:wine-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow">For Business</h4>
        <p class="pt-2 max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
        >
          <i class="iconify rem-150" data-icon="ph:trophy-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow">For Champions</h4>
        <p class="pt-2 max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
        >
          <i class="iconify rem-150" data-icon="ph:rocket-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow">For Startups</h4>
        <p class="pt-2 max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
        >
          <i class="iconify rem-150" data-icon="ph:storefront-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow">For Merchants</h4>
        <p class="pt-2 max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
        >
          <i class="iconify rem-150" data-icon="ph:megaphone-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow">For Marketers</h4>
        <p class="pt-2 max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
        >
          <i class="iconify rem-150" data-icon="ph:parachute-duotone"></i>
        </div>
        <h4 class="title is-6 is-narrow">For Explorators</h4>
        <p class="pt-2 max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus.
        </p>
      </div>
    </div>
    <!-- Feature -->
    <div class="column is-3">
      <div class="py-4">
        <div
          class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
        >
          <i class="iconify rem-150" data-icon="ph:microphone-stage-duotone"
          ></i>
        </div>
        <h4 class="title is-6 is-narrow">For Artists</h4>
        <p class="pt-2 max-w-3 text-medium rem-95">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          videbimus.
        </p>
      </div>
    </div>
  </div>
</div>
