.is-dark {
  // override primary HSL (#e03222) // hsl(5, 76%, 51%)
  --primary-h: 5; /* Hue        */
  --primary-s: 76%; /* Saturation */
  --primary-l: 51%; /* Lightness  */
  --primary-color-invert: var(--dark-text);

  // override light colors
  // @include colorHsl("primary", 5, 76%, 51%);
  @include colorHsl("primary", 0, 0%, 100%);

  // medium-text HSL (#78716c) // hsl(25, 5%, 64%)
  @include colorHsl("medium-text", 25, 5%, 64%);

  // light-text HSL (#a8a29e) // hsl(25, 5%, 64%)
  @include colorHsl("light-text", 25, 5%, 64%);
}
