<div class="content-block-v11">
  <div class="py-6">
    <div class="columns b-columns-half-tablet-p is-multiline has-text-centered">
      <div class="column is-3">
        <div class="py-4">
          <div
            class="mx-auto mb-2 is-52x52 is-flex is-justify-content-center is-align-items-center is-circle bg-grey"
          >
            <i
              class="iconify rem-200 text-primary"
              data-icon="ph:git-commit-duotone"></i>
          </div>
          <h4 class="title is-3 is-narrow">768</h4>
          <p class="pt-2 max-w-3 mx-auto text-medium">
            Commits pushed last month on the main repository
          </p>
        </div>
      </div>
      <div class="column is-3">
        <div class="py-4">
          <div
            class="mx-auto mb-2 is-52x52 is-flex is-justify-content-center is-align-items-center is-circle bg-grey"
          >
            <i
              class="iconify rem-200 text-primary"
              data-icon="ph:git-branch-duotone"></i>
          </div>
          <h4 class="title is-3 is-narrow">19</h4>
          <p class="pt-2 max-w-3 mx-auto text-medium">
            Active branches are being daily or weekly updated
          </p>
        </div>
      </div>
      <div class="column is-3">
        <div class="py-4">
          <div
            class="mx-auto mb-2 is-52x52 is-flex is-justify-content-center is-align-items-center is-circle bg-grey"
          >
            <i
              class="iconify rem-200 text-primary"
              data-icon="ph:git-fork-duotone"></i>
          </div>
          <h4 class="title is-3 is-narrow">534</h4>
          <p class="pt-2 max-w-3 mx-auto text-medium">
            Forks have been created by community members
          </p>
        </div>
      </div>
      <div class="column is-3">
        <div class="py-4">
          <div
            class="mx-auto mb-2 is-52x52 is-flex is-justify-content-center is-align-items-center is-circle bg-grey"
          >
            <i
              class="iconify rem-200 text-primary"
              data-icon="ph:git-pull-request-duotone"></i>
          </div>
          <h4 class="title is-3 is-narrow">192</h4>
          <p class="pt-2 max-w-3 mx-auto text-medium">
            Pull requests have been submitted by community members
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
