<div class="content-block-v1">
  <div class="py-6 mx-auto max-w-8">
    <div class="columns is-vcentered">
      <div class="column is-6 small:max-w-6 small:mx-auto">
        <p class="text-medium text-italic rem-95 mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit?
        </p>
        <p class="text-medium mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit? Hanc quoque iucunditatem, si vis,
          transfer in animum.
        </p>

        <a class="action-link rem-95" href="#">
          <span>Learn more about it</span>
          <i class="iconify" data-icon="lucide:arrow-right"></i>
        </a>
      </div>
      <div class="column is-6">
        <img
          class="block mx-auto max-w-6"
          src="/img/photo/600x500/1.jpg"
          alt="Block image"
        />
      </div>
    </div>
  </div>
</div>
