<div class="content-block-v9">
  <div
    class="is-flex is-align-items-center is-justify-content-space-between d-column-mobile b-centered-mobile mb-12 px-2"
  >
    <div>
      <h3 class="title is-4">Vintage models</h3>
    </div>
    <p class="subtitle is-6 max-w-5 text-medium mobile:mb-4">
      We thought you'd be happy to take a look at our classic models. They are
      combination of elegance, authenticity and luxury.
    </p>
  </div>

  <div class="is-flex b-only-mobile-flex-wrap">
    <!-- Item -->
    <div class="max-w-1/3 max-w-mobile px-2 mobile:mb-8">
      <img
        class="inline-block mb-2"
        src="/img/photo/600x400/7.jpg"
        alt="Photo"
      />
      <p class="text-medium rem-95 mb-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
        inquam, de voluptate quid sentit.
      </p>
      <a class="action-link rem-95" href="#">
        <span>Technical specs</span>
        <i class="iconify" data-icon="lucide:arrow-right"></i>
      </a>
    </div>
    <!-- Item -->
    <div class="max-w-1/3 max-w-mobile px-2 mobile:mb-8">
      <img
        class="inline-block mb-2"
        src="/img/photo/600x400/8.jpg"
        alt="Photo"
      />
      <p class="text-medium rem-95 mb-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
        inquam, de voluptate quid sentit.
      </p>
      <a class="action-link rem-95" href="#">
        <span>Technical specs</span>
        <i class="iconify" data-icon="lucide:arrow-right"></i>
      </a>
    </div>
    <!-- Item -->
    <div class="max-w-1/3 max-w-mobile px-2 mobile:mb-8">
      <img
        class="inline-block mb-2"
        src="/img/photo/600x400/9.jpg"
        alt="Photo"
      />
      <p class="text-medium rem-95 mb-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
        inquam, de voluptate quid sentit.
      </p>
      <a class="action-link rem-95" href="#">
        <span>Technical specs</span>
        <i class="iconify" data-icon="lucide:arrow-right"></i>
      </a>
    </div>
  </div>
</div>
