<div class="content-block-v8">
  <div class="py-6 mx-auto max-w-8">
    <div class="columns is-vcentered b-only-tablet-p-flex">
      <div class="column is-5">
        <p class="text-medium text-italic max-w-3 rem-95 mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p class="text-medium">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit? Hanc quoque.
        </p>
      </div>
      <div class="column">
        <img class="block" src="/img/photo/600x400/7.jpg" alt="Photo" />
      </div>
      <div class="column">
        <img class="block" src="/img/photo/600x400/8.jpg" alt="Photo" />
      </div>
    </div>
  </div>
</div>
