<div class="content-block-v2">
  <div class="py-6 mx-auto max-w-8">
    <div class="columns is-vcentered">
      <div class="column is-6 small:max-w-4 small:mx-auto">
        <p class="text-medium text-italic rem-95 mb-4 small:text-centered">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit?
        </p>
        <p class="text-medium small:text-centered">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit? Hanc quoque iucunditatem, si vis,
          transfer in animum.
        </p>
      </div>
      <div class="column is-6">
        <div class="mx-auto is-flex is-justify-content-center">
          <img
            class="inline-block size-80x80 object-cover mx-2 is-circle filter-gray"
            src="/img/avatars/19.jpg"
            alt="Avatar"
          />
          <img
            class="inline-block size-80x80 object-cover mx-2 is-circle filter-gray"
            src="/img/avatars/29.jpg"
            alt="Avatar"
          />
          <img
            class="inline-block size-80x80 object-cover mx-2 is-circle filter-gray"
            src="/img/avatars/42.jpg"
            alt="Avatar"
          />
        </div>
      </div>
    </div>
  </div>
</div>
