<div class="content-block-v6">
  <div class="py-6 mx-auto max-w-8">
    <div class="columns is-vcentered b-only-tablet-p-flex">
      <div class="column is-6">
        <img src="/img/photo/600x500/6.jpg" alt="" />
      </div>
      <div class="column is-6">
        <p class="text-medium mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit? Hanc quoque iucunditatem, si vis,
          transfer in animum; Erat enim Polemonis. Apparet statim, quae sint
          officia, quae actiones. Ita prorsus, inquam.
        </p>
        <div class="is-flex is-align-items-center py-4">
          <img
            class="mx-2 max-w-1/5 filter-invert"
            src="/img/logo/brands/infinite.svg"
            alt="Client logo"
          />
          <img
            class="mx-2 max-w-1/5 filter-invert"
            src="/img/logo/brands/kromo.svg"
            alt="Client logo"
          />
          <img
            class="mx-2 max-w-1/5 filter-invert"
            src="/img/logo/brands/tribe.svg"
            alt="Client logo"
          />
          <img
            class="mx-2 max-w-1/5 filter-invert"
            src="/img/logo/brands/gutwork.svg"
            alt="Client logo"
          />
        </div>
      </div>
    </div>
  </div>
</div>
