<div class="content-block-v12" x-data="{ activeTab: 'tab-1' }">
  <div class="tabs-container mx-auto max-w-8">
    <div class="tabs">
      <ul>
        <li :class="activeTab === 'tab-1' && 'is-active'">
          <a class="tab-item" @click.prevent="activeTab = 'tab-1'">Freelance</a>
        </li>
        <li :class="activeTab === 'tab-2' && 'is-active'">
          <a class="tab-item" @click.prevent="activeTab = 'tab-2'">Startup</a>
        </li>
        <li :class="activeTab === 'tab-3' && 'is-active'">
          <a class="tab-item" @click.prevent="activeTab = 'tab-3'">Enterprise</a
          >
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <!-- Pane 1 -->
      <div x-show="activeTab === 'tab-1'" class="tab-pane">
        <div class="py-12">
          <div class="columns is-vcentered b-only-tablet-p-flex">
            <div class="column is-6">
              <p class="text-medium mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
                iste, inquam, de voluptate quid sentit? Hanc quoque
                iucunditatem, si vis, transfer in animum; Erat enim Polemonis.
                Apparet statim, quae.
              </p>
              <div class="py-2">
                <p class="text-light">Works in major browsers</p>
              </div>
              <div class="is-flex py-4">
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i class="iconify rem-175" data-icon="teenyicons:chrome-solid"
                  ></i>
                </div>
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i class="iconify rem-175" data-icon="fa:firefox"></i>
                </div>
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i class="iconify rem-175" data-icon="fa-brands:edge"></i>
                </div>
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i class="iconify rem-175" data-icon="fa6-brands:safari"></i>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <img src="/img/photo/600x500/8.jpg" alt="Photo" />
            </div>
          </div>
        </div>
      </div>

      <!-- Pane 2 -->
      <div x-show="activeTab === 'tab-2'" class="tab-pane">
        <div class="py-12">
          <div class="columns is-vcentered b-only-tablet-p-flex">
            <div class="column is-6">
              <p class="text-medium mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
                iste, inquam, de voluptate quid sentit? Hanc quoque
                iucunditatem, si vis, transfer in animum; Erat enim Polemonis.
                Apparet statim, quae.
              </p>
              <div class="py-2">
                <p class="text-light">Complete app SDK</p>
              </div>
              <div class="is-flex py-4">
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i
                    class="iconify rem-175"
                    data-icon="fluent:javascript-16-filled"></i>
                </div>
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i class="iconify rem-175" data-icon="ph:angular-logo-fill"
                  ></i>
                </div>
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i
                    class="iconify rem-175"
                    data-icon="teenyicons:react-outline"></i>
                </div>
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i class="iconify rem-175" data-icon="teenyicons:vue-solid"
                  ></i>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <img src="/img/photo/600x500/9.jpg" alt="Photo" />
            </div>
          </div>
        </div>
      </div>

      <!-- Pane 3 -->
      <div x-show="activeTab === 'tab-3'" class="tab-pane">
        <div class="py-12">
          <div class="columns is-vcentered b-only-tablet-p-flex">
            <div class="column is-6">
              <p class="text-medium mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
                iste, inquam, de voluptate quid sentit? Hanc quoque
                iucunditatem, si vis, transfer in animum; Erat enim Polemonis.
                Apparet statim, quae.
              </p>
              <div class="py-2">
                <p class="text-light">Major integrations</p>
              </div>
              <div class="is-flex py-4">
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i class="iconify rem-175" data-icon="uiw:github"></i>
                </div>
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i
                    class="iconify rem-175"
                    data-icon="ph:gitlab-logo-simple-fill"></i>
                </div>
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i class="iconify rem-175" data-icon="ion:logo-bitbucket"></i>
                </div>
                <div
                  class="is-flex is-justify-content-center is-align-items-center size-52x52 is-circle bg-muted text-primary mx-2"
                >
                  <i class="iconify rem-175" data-icon="fa6-brands:atlassian"
                  ></i>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <img src="/img/photo/600x500/10.jpg" alt="Photo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
