<div class="content-block-v7">
  <div class="py-6 mx-auto max-w-9">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <p
          class="text-medium text-italic max-w-3 rem-95 mb-4 small:text-centered"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p class="text-medium small:text-centered">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit? Hanc quoque.
        </p>
        <div
          class="is-flex is-align-items-center py-4 small:mx-auto small:max-w-4 j-center-tablet-p j-center-mobile"
        >
          <img
            class="mx-2 max-w-1/4"
            src="/img/logo/brands/infinite.svg"
            alt=""
          />
          <img
            class="mx-2 max-w-1/4"
            src="/img/logo/brands/kromo.svg"
            alt=""
          />
          <img
            class="mx-2 max-w-1/4"
            src="/img/logo/brands/tribe.svg"
            alt=""
          />
        </div>
      </div>
      <div class="column is-7">
        <div class="columns is-multiline b-only-tablet-p-flex">
          <div class="column is-6 p-2">
            <img class="block" src="/img/photo/600x400/1.jpg" alt="Photo" />
          </div>
          <div class="column is-6 p-2">
            <img class="block" src="/img/photo/600x400/2.jpg" alt="Photo" />
          </div>
          <div class="column is-6 p-2">
            <img class="block" src="/img/photo/600x400/3.jpg" alt="Photo" />
          </div>
          <div class="column is-6 p-2">
            <img class="block" src="/img/photo/600x400/6.jpg" alt="Photo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
