<div class="content-block-v5">
  <div class="py-6 mx-auto max-w-9">
    <div class="is-flex b-only-mobile-flex-wrap">
      <div class="max-w-1/3 max-w-mobile px-2">
        <img
          class="inline-block mx-2"
          src="/img/photo/600x400/4.jpg"
          alt="Block image"
        />
      </div>
      <div class="max-w-1/3 max-w-mobile px-2">
        <img
          class="inline-block mx-2"
          src="/img/photo/600x400/5.jpg"
          alt="Block image"
        />
      </div>
      <div class="max-w-1/3 max-w-mobile px-2">
        <img
          class="inline-block mx-2"
          src="/img/photo/600x400/6.jpg"
          alt="Block image"
        />
      </div>
    </div>

    <div class="px-4 py-4">
      <div class="columns">
        <div class="column">
          <p class="text-medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
            inquam, de voluptate quid sentit? Hanc quoque iucunditatem, si vis,
            transfer in animum; Erat enim Polemonis. Apparet statim, quae sint
            officia, quae actiones. Ita prorsus, inquam; Rhetorice igitur,
            inquam, nos mavis quam dialectice disputare? Ita ne hoc quidem modo
            paria peccata sunt.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
