<div class="content-block-v10">
  <div class="py-6 mx-auto max-w-9">
    <div class="columns is-vcentered b-only-tablet-p-flex">
      <div class="column is-5">
        <h3 class="title is-4">Top 5% models</h3>
        <p class="text-medium mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit? Hanc quoque iucunditatem, si vis,
          transfer in animum.
        </p>

        <div>
          <div class="columns b-columns-third-tablet-p is-multiline">
            <div class="column is-4">
              <div class="py-4">
                <h4 class="title is-4 is-narrow">687</h4>
                <p class="pt-2 max-w-2 text-medium rem-85">models discovered</p>
              </div>
            </div>
            <div class="column is-4">
              <div class="py-4">
                <h4 class="title is-4 is-narrow">10K+</h4>
                <p class="pt-2 max-w-2 text-medium rem-85">
                  contracts completed
                </p>
              </div>
            </div>
            <div class="column is-4">
              <div class="py-4">
                <h4 class="title is-4 is-narrow">43</h4>
                <p class="pt-2 max-w-2 text-medium rem-85">Vogue USA covers</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-7">
        <img src="/img/photo/600x500/7.jpg" alt="Photo" />
      </div>
    </div>
  </div>
</div>
