<div class="content-block-v3">
  <div class="py-6 mx-auto max-w-8">
    <div class="columns small:max-w-4 small:mx-auto">
      <div class="column is-6">
        <p class="text-medium text-italic rem-95 mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit?
        </p>
        <p class="text-medium">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit? Hanc quoque iucunditatem, si vis,
          transfer in animum.
        </p>
      </div>
      <div class="column is-6">
        <p class="text-medium text-italic rem-95 mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit?
        </p>
        <p class="text-medium">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit? Hanc quoque iucunditatem, si vis,
          transfer in animum.
        </p>
      </div>
    </div>

    <div class="mx-auto max-w-5 is-flex is-justify-content-space-between py-8">
      <img
        class="inline-block size-60x60 filter-gray object-cover mx-2 is-circle"
        src="/img/avatars/44.jpg"
        alt="Avatar"
      />
      <img
        class="inline-block size-60x60 filter-gray object-cover mx-2 is-circle"
        src="/img/avatars/12.jpg"
        alt="Avatar"
      />
      <img
        class="inline-block size-60x60 filter-gray object-cover mx-2 is-circle"
        src="/img/avatars/24.jpg"
        alt="Avatar"
      />
      <img
        class="inline-block size-60x60 filter-gray object-cover mx-2 is-circle"
        src="/img/avatars/45.jpg"
        alt="Avatar"
      />
      <img
        class="inline-block size-60x60 filter-gray object-cover mx-2 is-circle"
        src="/img/avatars/52.jpg"
        alt="Avatar"
      />
    </div>
  </div>
</div>
