<div class="contact-block-v3">
  <div class="columns is-vcentered">
    <div class="column is-5">
      <div class="card p-6 small:p-4">
        <h3 class="title is-4">Contact Us</h3>
        <p class="subtitle is-6 text-medium">
          Use the form below to send us a message.
        </p>

        <form>
          <div class="field">
            <label>Full Name</label>
            <div class="control has-icon">
              <input type="text" class="input" placeholder="Your name" />
              <div class="form-icon">
                <i class="iconify" data-icon="lucide:user"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Email Address</label>
            <div class="control has-icon">
              <input type="text" class="input" placeholder="Your email" />
              <div class="form-icon">
                <i class="iconify" data-icon="lucide:mail"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Message</label>
            <div class="control">
              <textarea
                class="textarea"
                rows="4"
                placeholder="Write your message"></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button
                type="button"
                class="button is-primary raised is-fullwidth"
              >
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="column is-6 is-offset-1">
      <div class="w-full h-full is-rounded-lg overflow-hidden">
        <div id="mapbox-3" class="mapbox-map map-1"></div>
      </div>
    </div>
  </div>

  <div class="columns has-text-centered py-12">
    <div class="column is-hidden-mobile"></div>
    <!-- Icon box -->
    <div class="column is-3">
      <div class="text-light rem-150">
        <i class="iconify" data-icon="lucide:map-pin"></i>
      </div>
      <div class="title is-6 is-narrow">Address</div>
      <p class="text-medium rem-90">
        48, Church Street, First district
        <br />59852 New York, USA
      </p>
    </div>
    <!-- Icon box -->
    <div class="column is-3">
      <div class="text-light rem-150">
        <i class="iconify" data-icon="lucide:mail"></i>
      </div>
      <div class="title is-6 is-narrow">Email</div>
      <div class="text-medium rem-90">hello@bold.io</div>
    </div>
    <!-- Icon box -->
    <div class="column is-3">
      <div class="text-light rem-150">
        <i class="iconify" data-icon="lucide:phone"></i>
      </div>
      <div class="title is-6 is-narrow">Phone</div>
      <div class="text-medium rem-90">+1 555 306 87</div>
    </div>
    <div class="column is-hidden-mobile"></div>
  </div>
</div>
