<div class="table-block-v1">
  <div class="py-6 mx-auto max-w-8">
    <div class="flex-table">
      <!--Table header-->
      <div class="flex-table-header">
        <span class="is-grow">User</span>
        <span>Location</span>
        <span>Industry</span>
        <span>Status</span>
        <span class="cell-end">Actions</span>
      </div>

      <div class="flex-list-inner">
        <!--Table item-->
        <div class="flex-table-item">
          <div class="flex-table-cell is-media is-grow">
            <img
              class="block size-44x44 is-circle no-m filter-gray"
              src="/img/avatars/11.jpg"
              alt="Avatar"
            />
            <div>
              <span class="item-name dark-inverted">Eliza Stokes</span>
              <span class="item-meta">
                <span>Product Manager</span>
              </span>
            </div>
          </div>
          <div class="flex-table-cell" data-th="Location">
            <span class="text-medium">New York, NY</span>
          </div>
          <div class="flex-table-cell" data-th="Industry">
            <span class="text-light">Software</span>
          </div>
          <div class="flex-table-cell" data-th="Status">
            <span class="tag is-primary is-rounded is-elevated">Online</span>
          </div>
          <div class="flex-table-cell cell-end" data-th="Actions">
            <a class="action-link is-pushed-mobile" href="#">
              <span>Hire</span>
              <i class="iconify" data-icon="lucide:arrow-right"></i>
            </a>
          </div>
        </div>

        <!--Table item-->
        <div class="flex-table-item">
          <div class="flex-table-cell is-media is-grow">
            <img
              class="block size-44x44 is-circle no-m filter-gray"
              src="/img/avatars/19.jpg"
              alt="Avatar"
            />
            <div>
              <span class="item-name dark-inverted">John Maynard</span>
              <span class="item-meta">
                <span>Project Manager</span>
              </span>
            </div>
          </div>
          <div class="flex-table-cell" data-th="Location">
            <span class="text-medium">Los Angeles, CA</span>
          </div>
          <div class="flex-table-cell" data-th="Industry">
            <span class="text-light">Software</span>
          </div>
          <div class="flex-table-cell" data-th="Status">
            <span class="tag is-primary is-rounded is-elevated">Online</span>
          </div>
          <div class="flex-table-cell cell-end" data-th="Actions">
            <a class="action-link is-pushed-mobile" href="#">
              <span>Hire</span>
              <i class="iconify" data-icon="lucide:arrow-right"></i>
            </a>
          </div>
        </div>

        <!--Table item-->
        <div class="flex-table-item">
          <div class="flex-table-cell is-media is-grow">
            <img
              class="block size-44x44 is-circle no-m filter-gray"
              src="/img/avatars/35.jpg"
              alt="Avatar"
            />
            <div>
              <span class="item-name dark-inverted">Andrew Sikes</span>
              <span class="item-meta">
                <span>Software Engineer</span>
              </span>
            </div>
          </div>
          <div class="flex-table-cell" data-th="Location">
            <span class="text-medium">Las Vegas, NV</span>
          </div>
          <div class="flex-table-cell" data-th="Industry">
            <span class="text-light">Software</span>
          </div>
          <div class="flex-table-cell" data-th="Status">
            <span class="tag is-primary is-rounded is-elevated">Online</span>
          </div>
          <div class="flex-table-cell cell-end" data-th="Actions">
            <a class="action-link is-pushed-mobile" href="#">
              <span>Hire</span>
              <i class="iconify" data-icon="lucide:arrow-right"></i>
            </a>
          </div>
        </div>

        <!--Table item-->
        <div class="flex-table-item">
          <div class="flex-table-cell is-media is-grow">
            <img
              class="block size-44x44 is-circle no-m filter-gray"
              src="/img/avatars/53.jpg"
              alt="Avatar"
            />
            <div>
              <span class="item-name dark-inverted">Kareem Jabbar</span>
              <span class="item-meta">
                <span>Software Engineer</span>
              </span>
            </div>
          </div>
          <div class="flex-table-cell" data-th="Location">
            <span class="text-medium">San Diego, CA</span>
          </div>
          <div class="flex-table-cell" data-th="Industry">
            <span class="text-light">Software</span>
          </div>
          <div class="flex-table-cell" data-th="Status">
            <span class="tag is-primary is-rounded is-outlined">Offline</span>
          </div>
          <div class="flex-table-cell cell-end" data-th="Actions">
            <a class="action-link is-pushed-mobile" href="#">
              <span>Hire</span>
              <i class="iconify" data-icon="lucide:arrow-right"></i>
            </a>
          </div>
        </div>

        <!--Table item-->
        <div class="flex-table-item">
          <div class="flex-table-cell is-media is-grow">
            <img
              class="block size-44x44 is-circle no-m filter-gray"
              src="/img/avatars/57.jpg"
              alt="Avatar"
            />
            <div>
              <span class="item-name dark-inverted">Alex Kulovski</span>
              <span class="item-meta">
                <span>Software Engineer</span>
              </span>
            </div>
          </div>
          <div class="flex-table-cell" data-th="Location">
            <span class="text-medium">San Francisco, CA</span>
          </div>
          <div class="flex-table-cell" data-th="Industry">
            <span class="text-light">Software</span>
          </div>
          <div class="flex-table-cell" data-th="Status">
            <span class="tag is-primary is-rounded is-elevated">Online</span>
          </div>
          <div class="flex-table-cell cell-end" data-th="Actions">
            <a class="action-link is-pushed-mobile" href="#">
              <span>Hire</span>
              <i class="iconify" data-icon="lucide:arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
