<div class="table-block-v1">
  <div class="py-6 mx-auto max-w-8">
    <div class="table-container">
      <div class="card p-4">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th class="border-none text-medium pb-5">User</th>
              <th class="border-none text-medium pb-5">Location</th>
              <th class="border-none text-medium pb-5">Industry</th>
              <th class="border-none text-medium pb-5">Status</th>
              <th class="border-none text-medium pb-5">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!--Row-->
            <tr>
              <td class="py-4">
                <div class="is-flex is-align-items-center">
                  <img
                    class="block size-44x44 is-circle no-m filter-gray"
                    src="/img/avatars/11.jpg"
                    alt="Avatar"
                  />
                  <div class="ml-2">
                    <h4 class="title is-7 is-narrow">Eliza Stokes</h4>
                    <p class="rem-85 text-light">
                      <span>Product Manager</span>
                    </p>
                  </div>
                </div>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">New York, NY</span>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Software</span>
              </td>
              <td class="py-4">
                <span class="tag is-primary is-rounded is-elevated">Online</span
                >
              </td>
              <td class="py-4">
                <a class="action-link" href="#">
                  <span>Hire now</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </td>
            </tr>
            <!--Row-->
            <tr>
              <td class="py-4">
                <div class="is-flex is-align-items-center">
                  <img
                    class="block size-44x44 is-circle no-m filter-gray"
                    src="/img/avatars/19.jpg"
                    alt="Avatar"
                  />
                  <div class="ml-2">
                    <h4 class="title is-7 is-narrow">John Maynard</h4>
                    <p class="rem-85 text-light">
                      <span>Project Manager</span>
                    </p>
                  </div>
                </div>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Los Angeles, CA</span>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Software</span>
              </td>
              <td class="py-4">
                <span class="tag is-primary is-rounded is-elevated">Online</span
                >
              </td>
              <td class="py-4">
                <a class="action-link" href="#">
                  <span>Hire now</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </td>
            </tr>
            <!--Row-->
            <tr>
              <td class="py-4">
                <div class="is-flex is-align-items-center">
                  <img
                    class="block size-44x44 is-circle no-m filter-gray"
                    src="/img/avatars/35.jpg"
                    alt="Avatar"
                  />
                  <div class="ml-2">
                    <h4 class="title is-7 is-narrow">Andrew Sikes</h4>
                    <p class="rem-85 text-light">
                      <span>Software Engineer</span>
                    </p>
                  </div>
                </div>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Las Vegas, NV</span>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Software</span>
              </td>
              <td class="py-4">
                <span class="tag is-primary is-rounded is-outlined"
                  >Offline</span
                >
              </td>
              <td class="py-4">
                <a class="action-link" href="#">
                  <span>Hire now</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </td>
            </tr>
            <!--Row-->
            <tr>
              <td class="py-4">
                <div class="is-flex is-align-items-center">
                  <img
                    class="block size-44x44 is-circle no-m filter-gray"
                    src="/img/avatars/53.jpg"
                    alt="Avatar"
                  />
                  <div class="ml-2">
                    <h4 class="title is-7 is-narrow">Kareem Jabbar</h4>
                    <p class="rem-85 text-light">
                      <span>Software Engineer</span>
                    </p>
                  </div>
                </div>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">San Diego, CA</span>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Software</span>
              </td>
              <td class="py-4">
                <span class="tag is-primary is-rounded is-elevated">Online</span
                >
              </td>
              <td class="py-4">
                <a class="action-link" href="#">
                  <span>Hire now</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </td>
            </tr>
            <!--Row-->
            <tr>
              <td class="py-4">
                <div class="is-flex is-align-items-center">
                  <img
                    class="block size-44x44 is-circle no-m filter-gray"
                    src="/img/avatars/57.jpg"
                    alt="Avatar"
                  />
                  <div class="ml-2">
                    <h4 class="title is-7 is-narrow">Alex Kulovski</h4>
                    <p class="rem-85 text-light">
                      <span>Software Engineer</span>
                    </p>
                  </div>
                </div>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">San Francisco, CA</span>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Software</span>
              </td>
              <td class="py-4">
                <span class="tag is-primary is-rounded is-elevated">Online</span
                >
              </td>
              <td class="py-4">
                <a class="action-link" href="#">
                  <span>Hire now</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
