<div class="table-block-v1">
  <div class="py-6 mx-auto max-w-8">
    <div class="table-container">
      <div class="card p-4">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th class="border-none text-medium pb-5">User</th>
              <th class="border-none text-medium pb-5">Location</th>
              <th class="border-none text-medium pb-5">Industry</th>
              <th class="border-none text-medium pb-5">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!--Row-->
            <tr>
              <td class="py-4">
                <h4 class="title is-7 is-narrow">Eliza Stokes</h4>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">New York, NY</span>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Software</span>
              </td>
              <td class="py-4">
                <a class="action-link" href="#">
                  <span>Hire now</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </td>
            </tr>
            <!--Row-->
            <tr>
              <td class="py-4">
                <h4 class="title is-7 is-narrow">John Maynard</h4>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Los Angeles, CA</span>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Software</span>
              </td>
              <td class="py-4">
                <a class="action-link" href="#">
                  <span>Hire now</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </td>
            </tr>
            <!--Row-->
            <tr>
              <td class="py-4">
                <h4 class="title is-7 is-narrow">Andrew Sikes</h4>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Las Vegas, NV</span>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Software</span>
              </td>
              <td class="py-4">
                <a class="action-link" href="#">
                  <span>Hire now</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </td>
            </tr>
            <!--Row-->
            <tr>
              <td class="py-4">
                <h4 class="title is-7 is-narrow">Kareem Jabbar</h4>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">San Diego, CA</span>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Software</span>
              </td>
              <td class="py-4">
                <a class="action-link" href="#">
                  <span>Hire now</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </td>
            </tr>
            <!--Row-->
            <tr>
              <td class="py-4">
                <h4 class="title is-7 is-narrow">Alex Kulovski</h4>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">San Francisco, CA</span>
              </td>
              <td class="py-4">
                <span class="rem-95 text-medium">Software</span>
              </td>
              <td class="py-4">
                <a class="action-link" href="#">
                  <span>Hire now</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
