<div class="call-block-v5">
  <div class="py-6">
    <div
      class="is-flex is-align-items-center is-justify-content-space-between d-column-mobile b-centered-mobile"
    >
      <div>
        <h3 class="title is-4">Join the adventure</h3>
        <p class="subtitle is-6 max-w-5 text-medium mobile:mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit quis est tam
          dissimile homini. Quae cum.
        </p>
      </div>
      <a class="button is-primary raised is-long-3">Get Started</a>
    </div>
  </div>
</div>
