<div class="call-block-v4">
  <div class="max-w-8 mx-auto py-6">
    <div class="columns is-vcentered b-flex-tablet-p">
      <div class="column is-6">
        <div class="card p-6 has-text-centered">
          <h3 class="title is-4 is-spaced">Sign up now</h3>
          <p class="subtitle is-6 mx-auto max-w-3 text-medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis est
            tam dissimile homini. Quae cum dixisset paulumque?
          </p>
          <a class="button is-primary raised is-long-3">Get Started</a>
        </div>
      </div>
      <div class="column is-6">
        <div class="card p-6 has-text-centered">
          <h3 class="title is-4 is-spaced">Schedule a demo</h3>
          <p class="subtitle is-6 mx-auto max-w-3 text-medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis est
            tam dissimile homini. Quae cum dixisset paulumque?
          </p>
          <a class="button is-long-3">Contact Team</a>
        </div>
      </div>
    </div>
  </div>
</div>
