<div class="call-block-v7">
  <div class="py-12">
    <div class="columns is-vcentered b-columns-half-tablet-p">
      <div class="column is-6">
        <div class="has-text-centered">
          <h3 class="title is-3 is-spaced">Sign up now</h3>
          <p class="subtitle is-6 mx-auto max-w-3 text-medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis est
            tam dissimile homini. Quae cum dixisset paulumque?
          </p>
          <a class="button is-primary raised is-long-3">Get Started</a>
        </div>
      </div>
      <div class="column is-6">
        <img
          class="block mx-auto"
          src="/img/photo/600x500/6.jpg"
          alt="CTA image"
        />
      </div>
    </div>
  </div>
</div>
