<div class="call-block-v8">
  <div class="py-6">
    <div class="columns is-vcentered b-columns-half-tablet-p">
      <div class="column is-5 is-offset-1">
        <p class="text-medium text-italic rem-95 max-w-3 mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit?
        </p>
        <p class="subtitle is-5 max-w-5 text-medium">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit quis est tam
          dissimile homini. Quae cum.
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <div
          class="box mobile:p-4 small:p-6 large:p-6 wide:p-6 big:p-10 mx-auto max-w-7"
        >
          <div>
            <h3 class="title is-3">Signup now</h3>
            <h4 class="subtitle is-6">Fill in the form below to signup</h4>
            <form class="py-4">
              <div class="field">
                <label>Full Name</label>
                <div class="control has-icon">
                  <input class="input" placeholder="Your name" />
                  <div class="form-icon">
                    <i class="iconify" data-icon="lucide:user"></i>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Email Address</label>
                <div class="control has-icon">
                  <input class="input" placeholder="Your email" />
                  <div class="form-icon">
                    <i class="iconify" data-icon="lucide:mail"></i>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Password</label>
                <div class="control has-icon">
                  <input
                    type="password"
                    class="input"
                    placeholder="Your password"
                  />
                  <div class="form-icon">
                    <i class="iconify" data-icon="lucide:lock"></i>
                  </div>
                </div>
              </div>
              <div class="field pt-4">
                <div class="control">
                  <button
                    type="button"
                    class="button is-primary is-fullwidth raised"
                    >Get Started</button
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
