<div class="call-block-v1">
  <div class="py-6">
    <div class="has-text-centered">
      <p class="subtitle is-6 mx-auto max-w-3 text-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis est tam
        dissimile homini. Quae cum dixisset paulumque?
      </p>
      <div class="buttons is-centered">
        <a class="button is-long-2 is-primary raised">Get Started</a>
        <a class="button is-long-2">Free Trial</a>
      </div>
    </div>
  </div>
</div>
