<div class="video-block-v3">
  <div class="py-6">
    <div class="columns is-vcentered">
      <div class="column is-6 is-relative is-centered-portrait">
        <div class="video-player-container is-4by3">
          <video
            id="hero-player"
            class="video-player"
            playsinline
            controls
            poster="/img/video/poster-1b.jpg"
          >
            <source src="/img/video/hands.mp4" type="video/mp4" />
            <source src="/img/video/hands.webm" type="video/webm" />
          </video>
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <div class="columns is-multiline b-columns-half-tablet-p">
          <div class="column is-6">
            <div class="py-2 medium:py-4">
              <h4 class="title is-6 is-narrow">Management</h4>
              <p class="pt-2 max-w-3 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
          <div class="column is-6">
            <div class="py-2 medium:py-4">
              <h4 class="title is-6 is-narrow">Accounting</h4>
              <p class="pt-2 max-w-3 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
          <div class="column is-6">
            <div class="py-2 medium:py-4">
              <h4 class="title is-6 is-narrow">Forecasting</h4>
              <p class="pt-2 max-w-3 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
          <div class="column is-6">
            <div class="py-2 medium:py-4">
              <h4 class="title is-6 is-narrow">Reports</h4>
              <p class="pt-2 max-w-3 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
