<div class="max-w-5">
  <div class="is-flex is-align-items-flex-end">
    <div class="px-2">
      <img
        class="block size-32x32 is-circle filter-gray"
        src="/img/avatars/12.jpg"
        alt="Avatar"
      />
    </div>
    <div class="px-2">
      <img
        class="block size-44x44 is-circle filter-gray"
        src="/img/avatars/19.jpg"
        alt="Avatar"
      />
    </div>
    <div class="px-2">
      <img
        class="block size-52x52 is-circle filter-gray"
        src="/img/avatars/28.jpg"
        alt="Avatar"
      />
    </div>
    <div class="px-2">
      <img
        class="block size-64x64 is-circle filter-gray"
        src="/img/avatars/29.jpg"
        alt="Avatar"
      />
    </div>
    <div class="px-2">
      <img
        class="block size-80x80 is-circle filter-gray"
        src="/img/avatars/36.jpg"
        alt="Avatar"
      />
    </div>
    <div class="px-2">
      <img
        class="block size-100x100 is-circle filter-gray"
        src="/img/avatars/51.jpg"
        alt="Avatar"
      />
    </div>
  </div>
</div>
