<div class="max-w-7">
  <div>
    <div class="buttons mb-4">
      <button class="button is-long-1">Button</button>
      <button class="button is-long-1 is-loading">Button</button>
      <button class="button is-primary is-outlined is-long-1">Button</button>
      <button class="button is-primary raised is-long-1">Button</button>
      <button class="button is-primary raised is-long-1" disabled>Button</button>
      <button class="button is-primary is-outlined">
        <i class="iconify rem-125" data-icon="ph:heart-duotone"></i>
      </button>
    </div>

    <div class="buttons mb-4">
      <button class="button is-form is-long-1">Button</button>
      <button class="button is-form is-long-1 is-loading">Button</button>
      <button class="button is-form is-primary is-outlined is-long-1">Button</button>
      <button class="button is-form is-primary raised is-long-1">Button</button>
      <button class="button is-form is-primary raised is-long-1" disabled>Button</button>
      <button class="button is-form is-primary is-outlined">
        <i class="iconify rem-125" data-icon="ph:heart-duotone"></i>
      </button>
    </div>

    <div class="buttons">
      <button class="button is-rounded is-long-1">Button</button>
      <button class="button is-rounded is-long-1 is-loading">Button</button>
      <button class="button is-rounded is-primary is-outlined is-long-1">Button</button>
      <button class="button is-rounded is-primary raised is-long-1">Button</button>
      <button class="button is-rounded is-primary raised is-long-1" disabled>Button</button>
      <button class="button is-rounded is-primary is-outlined">
        <i class="iconify rem-125" data-icon="ph:heart-duotone"></i>
      </button>
    </div>
  </div>
</div>