<div class="w-full">
  <div class="table-container">
    <div class="card p-4">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th class="border-none text-medium pb-3" style="width: 30%">
              Class
            </th>
            <th class="border-none text-medium pb-3">Values</th>
            <th class="border-none text-medium pb-3">Description</th>
          </tr>
        </thead>
        <tbody>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.text-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >white, primary, light, muted, medium
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's color to the specified value</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.bg-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >white, primary, light, muted, medium
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's background color to the specified
                value</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.border-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >white, primary, light, muted, medium
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's border color (2px width) to the
                specified value</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.opacity-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >5, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80, 90, 100
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's opacity to the specified value</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.p-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's padding to the specified value (see
                _utilities.scss)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.px-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's horizontal padding to the specified
                value (see _utilities.scss)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.py-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's vertical padding to the specified
                value (see _utilities.scss)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.pt-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's top padding to the specified value
                (see _utilities.scss)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.pb-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's bottom padding to the specified value
                (see _utilities.scss)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.pl-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's left padding to the specified value
                (see _utilities.scss)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.pr-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's right padding to the specified value
                (see _utilities.scss)</span
              >
            </td>
          </tr>

          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.m-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's margin to the specified value
                (accepts negative values: -m-*)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.mx-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's horizontal margin to the specified
                value (accepts negative values: -m-*)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.my-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's vertical margin to the specified
                value (accepts negative values: -m-*)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.mt-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's top margin to the specified value
                (accepts negative values: -m-*)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.mb-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's bottom margin to the specified value
                (accepts negative values: -m-*)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.ml-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's left margin to the specified value
                (accepts negative values: -m-*)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.mr-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64
              </span>
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's right margin to the specified value
                (accepts negative values: -m-*)</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.max-w-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >1, 2, 3, 4, 5, 6, 7, 8, 9, full</span
              >
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's max-width to the specified value</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.size-*x*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 70, 80, 90, 100,
                110, 120, 130, 140, 150, 175, 200</span
              >
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's height and width to the specified
                value</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.text-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >uppercase, capitalize, italic</span
              >
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's font style to the specified value</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.is-weight-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >300, 400, 500, 600, 700, 800, 900</span
              >
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's font weight to the specified value</span
              >
            </td>
          </tr>
          <!--Row-->
          <tr>
            <td class="py-4">
              <h4 class="title is-7 is-narrow">.rem-*</h4>
            </td>
            <td class="py-4">
              <span class="rem-95 text-medium"
                >70, 75, 80, 85, 90, 95, 100, 115, 125, 150, 175, 200, 225, 250,
                275, 300</span
              >
            </td>
            <td class="py-4">
              <span class="rem-95 text-light"
                >Sets the target element's font size (in rem) to the specified
                value</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
