<div>
  <div class="columns">

    <div class="column is-4">
      <!--Small Modal-->
      <div x-data="initModal">
        <!--Modal Trigger-->
        <button @click="open()" class="button is-solid">Open Small</button>

        <!--Modal Element-->
        <div class="modal is-small" :class="isOpen && 'is-active'">
          <div class="modal-background" @click="close()"></div>
          <div class="modal-content">
            <!-- Content -->
            <div class="card p-6">
              <div class="page-placeholder">
                <div class="page-placeholder-inner">
                  <img
                    class="block size-90x90 is-circle has-border filter-gray mx-auto"
                    src="/img/avatars/52.jpg"
                    alt="Avatar"
                  />
                  <p class="rem-80 m-0">You have been invited by</p>
                  <h3 class="title is-5">Isabel C.</h3>
                  <p class="rem-90 mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nondum autem explanatum satis, erat, quid maxime natura
                    vellet.
                  </p>
                  <div class="buttons is-centered">
                    <a class="button is-long-2" @click="close()">Decline</a>
                    <a
                      class="button is-primary raised is-long-2"
                      @click="close()"
                      >Confirm</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <!--Medium Modal-->
      <div x-data="initModal">
        <!--Modal Trigger-->
        <button @click="open()" class="button is-solid">Open Medium</button>

        <!--Modal Element-->
        <div class="modal is-medium" :class="isOpen && 'is-active'">
          <div class="modal-background" @click="close()"></div>
          <div class="modal-content">
            <!-- Content -->
            <div class="card p-6">
              <div class="page-placeholder">
                <div class="page-placeholder-inner">
                  <img
                    class="block size-90x90 is-circle has-border filter-gray mx-auto"
                    src="/img/avatars/52.jpg"
                    alt="Avatar"
                  />
                  <p class="rem-80 m-0">You have been invited by</p>
                  <h3 class="title is-5">Isabel C.</h3>
                  <p class="rem-90 mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nondum autem explanatum satis, erat, quid maxime natura
                    vellet.
                  </p>
                  <div class="buttons is-centered">
                    <a class="button is-long-2" @click="close()">Decline</a>
                    <a
                      class="button is-primary raised is-long-2"
                      @click="close()"
                      >Confirm</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <!--large Modal-->
      <div x-data="initModal">
        <!--Modal Trigger-->
        <button @click="open()" class="button is-solid">Open large</button>

        <!--Modal Element-->
        <div class="modal is-large" :class="isOpen && 'is-active'">
          <div class="modal-background" @click="close()"></div>
          <div class="modal-content">
            <!-- Content -->
            <div class="card p-6">
              <div class="page-placeholder">
                <div class="page-placeholder-inner">
                  <img
                    class="block size-90x90 is-circle has-border filter-gray mx-auto"
                    src="/img/avatars/52.jpg"
                    alt="Avatar"
                  />
                  <p class="rem-80 m-0">You have been invited by</p>
                  <h3 class="title is-5">Isabel C.</h3>
                  <p class="rem-90 mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nondum autem explanatum satis, erat, quid maxime natura
                    vellet.
                  </p>
                  <div class="buttons is-centered">
                    <a class="button is-long-2" @click="close()">Decline</a>
                    <a
                      class="button is-primary raised is-long-2"
                      @click="close()"
                      >Confirm</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
