<div class="max-w-4">
  <progress class="progress is-micro is-primary" value="64" max="100">64%</progress>
  <progress class="progress is-tiny is-primary" value="64" max="100">64%</progress>
  <progress class="progress is-smaller is-primary" value="64" max="100">64%</progress>
  <progress class="progress is-small is-primary" value="64" max="100">64%</progress>
  <progress class="progress is-primary" value="15" max="100">15%</progress>
</div>