<div class="max-w-5">
  <div class="mb-5">
    <div class="tags">
      <span class="tag is-solid">Education</span>
      <span class="tag is-primary is-outlined">Economy</span>
      <span class="tag is-primary">History</span>
      <span class="tag is-primary is-elevated">Philosophy</span>
    </div>
  </div>

  <div class="mb-5">
    <div class="tags">
      <span class="tag is-solid is-curved">Education</span>
      <span class="tag is-primary is-outlined is-curved">Economy</span>
      <span class="tag is-primary is-curved">History</span>
      <span class="tag is-primary is-curved is-elevated">Philosophy</span>
    </div>
  </div>

  <div>
    <div class="tags">
      <span class="tag is-solid is-rounded">Education</span>
      <span class="tag is-primary is-outlined is-rounded">Economy</span>
      <span class="tag is-primary is-rounded">History</span>
      <span class="tag is-primary is-rounded is-elevated">Philosophy</span>
    </div>
  </div>
</div>
