---
import Layout from '../layouts/Default.astro';
import CtaBlockOne from '../components/blocks/cta/CtaBlockOne.astro';
import CtaBlockTwo from '../components/blocks/cta/CtaBlockTwo.astro';
import CtaBlockThree from '../components/blocks/cta/CtaBlockThree.astro';
import CtaBlockFour from '../components/blocks/cta/CtaBlockFour.astro';
import CtaBlockFive from '../components/blocks/cta/CtaBlockFive.astro';
import CtaBlockSix from '../components/blocks/cta/CtaBlockSix.astro';
import CtaBlockSeven from '../components/blocks/cta/CtaBlockSeven.astro';
import CtaBlockEight from '../components/blocks/cta/CtaBlockEight.astro';
import CtaBlockNine from '../components/blocks/cta/CtaBlockNine.astro';
import CtaBlockTen from '../components/blocks/cta/CtaBlockTen.astro';
import DoubleCta from '../components/DoubleCta.astro';
const title = 'CTA Blocks'
---

<Layout title={title}>
  
  <div class="hero is-fullheight is-side is-left has-top-bg">
    <img class="top-bg-alt" src="/img/bg/top-bg-alt.svg" alt="" />
  
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <h1 class="title is-1 is-bold">Minimal call to action sections.</h1>
            <p class="subtitle is-5 b-centered-tablet-p text-medium">
              Prebuilt and reusable call to action sections that you can easily
              paste in your pages.
            </p>
            <div class="buttons">
              <a
                href="#content-start"
                class="button is-primary is-medium raised scroll-link"
                >Explore</a
              >
              <a
                href="https://docs.cssninja.io/minimal"
                class="button is-primary is-outlined is-medium"
                >Docs</a
              >
            </div>
          </div>
          <div class="column is-6 is-offset-1">
            <img
              class="light-image-block mx-auto max-w-5"
              src="/img/illustrations/hero-4.svg"
              alt=""
            />
            <img
              class="dark-image-block mx-auto max-w-5"
              src="/img/illustrations/hero-4-dark.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="content-start" class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V1</span>
        <h2 class="title is-3">Call to Action</h2>
        <p class="subtitle is-5 text-medium">
          A section that requires an action from the user
        </p>
      </div>
  
      <!-- Call to action block v1 -->
      <div class="pb-12">
        <CtaBlockOne />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V2</span>
        <h2 class="title is-3">Call to Action</h2>
        <p class="subtitle is-5 text-medium">
          A section that requires an action from the user
        </p>
      </div>
  
      <!-- Call to action block v2 -->
      <div class="pb-12">
        <CtaBlockTwo />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V3</span>
        <h2 class="title is-3">Call to Action</h2>
        <p class="subtitle is-5 text-medium">
          A section that requires an action from the user
        </p>
      </div>
  
      <!-- Call to action block v3 -->
      <div class="pb-12">
        <CtaBlockThree />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V4</span>
        <h2 class="title is-3">Call to Action</h2>
        <p class="subtitle is-5 text-medium">
          A section that requires an action from the user
        </p>
      </div>
  
      <!-- Call to action block v4 -->
      <div class="pb-12">
        <CtaBlockFour />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V5</span>
        <h2 class="title is-3">Call to Action</h2>
        <p class="subtitle is-5 text-medium">
          A section that requires an action from the user
        </p>
      </div>
  
      <!-- Call to action block v5 -->
      <div class="pb-12">
        <CtaBlockFive />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V6</span>
        <h2 class="title is-3">Call to Action</h2>
        <p class="subtitle is-5 text-medium">
          A section that requires an action from the user
        </p>
      </div>
  
      <!-- Call to action block v6 -->
      <div class="pb-12">
        <CtaBlockSix />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V7</span>
        <h2 class="title is-3">Call to Action</h2>
        <p class="subtitle is-5 text-medium">
          A section that requires an action from the user
        </p>
      </div>
  
      <!-- Call to action block v7 -->
      <div class="pb-12">
        <CtaBlockSeven />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V8</span>
        <h2 class="title is-3">Call to Action</h2>
        <p class="subtitle is-5 text-medium">
          A section that requires an action from the user
        </p>
      </div>
  
      <!-- Call to action block v8 -->
      <div class="pb-12">
        <CtaBlockEight />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V9</span>
        <h2 class="title is-3">Call to Action</h2>
        <p class="subtitle is-5 text-medium">
          A section that requires an action from the user
        </p>
      </div>
  
      <!-- Call to action block v9 -->
      <div class="pb-12">
        <CtaBlockNine />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V10</span>
        <h2 class="title is-3">Call to Action</h2>
        <p class="subtitle is-5 text-medium">
          A section that requires an action from the user
        </p>
      </div>
  
      <!-- Call to action block v10 -->
      <div class="pb-12">
        <CtaBlockTen />  
      </div>
    </div>
  </div>
  
  <!-- CTA -->
  <div class="section">
    <div class="container">
      <div class="py-6">
        <DoubleCta />  
      </div>
    </div>
  </div>  
</Layout>