---
import Layout from "../layouts/Default.astro";
const title = "Home";
---

<Layout title={title}>
  <div class="hero is-fullheight is-side is-left has-top-bg">
    <img class="top-bg-alt" src="/img/bg/top-bg-alt.svg" alt="" />

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <h1 class="title is-1 is-bold">The beauty of Minimalism.</h1>
            <p class="subtitle is-5 b-centered-tablet-p text-medium">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sint ista
              Graecorum; Hoc mihi cum tuo fratre convenit desectetur elit vosim.
            </p>
            <div class="buttons">
              <a class="button is-primary is-medium is-raised">Discover</a>
              <a class="button is-primary is-outlined is-medium">Free Trial</a>
            </div>
          </div>
          <div class="column is-6 is-offset-1">
            <div class="video-player-container is-square mx-auto">
              <video
                id="hero-player"
                class="video-player"
                playsinline
                controls
                poster="/img/video/poster-2c.jpg"
              >
                <source src="/img/video/hands.mp4" type="video/mp4" />
                <source src="/img/video/hands.webm" type="video/webm" />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="has-text-centered pb-6">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2"
          >Made by Pros</span
        >
        <h2 class="title is-3">Made for you</h2>
        <p class="subtitle is-5 text-medium">
          Whatever is your problem, we have a solution
        </p>
      </div>

      <div class="feature-block-v9">
        <div
          class="columns is-multiline b-columns-half-tablet-p has-text-centered"
        >
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4 px-2">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
              >
                <i class="iconify rem-150" data-icon="ph:crown-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow pt-3">For Pros</h4>
              <p class="pt-2 mx-auto max-w-3 small:max-w-2 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4 px-2">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
              >
                <i class="iconify rem-150" data-icon="ph:wine-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow pt-3">For Business</h4>
              <p class="pt-2 mx-auto max-w-3 small:max-w-2 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4 px-2">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
              >
                <i class="iconify rem-150" data-icon="ph:trophy-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow pt-3">For Champions</h4>
              <p class="pt-2 mx-auto max-w-3 small:max-w-2 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4 px-2">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
              >
                <i class="iconify rem-150" data-icon="ph:rocket-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow pt-3">For Startups</h4>
              <p class="pt-2 mx-auto max-w-3 small:max-w-2 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4 px-2">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
              >
                <i class="iconify rem-150" data-icon="ph:storefront-duotone"
                ></i>
              </div>
              <h4 class="title is-6 is-narrow pt-3">For Merchants</h4>
              <p class="pt-2 mx-auto max-w-3 small:max-w-2 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4 px-2">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
              >
                <i class="iconify rem-150" data-icon="ph:megaphone-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow pt-3">For Marketers</h4>
              <p class="pt-2 mx-auto max-w-3 small:max-w-2 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4 px-2">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
              >
                <i class="iconify rem-150" data-icon="ph:parachute-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow pt-3">For Explorators</h4>
              <p class="pt-2 mx-auto max-w-3 small:max-w-2 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4 px-2">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-48x48 mx-auto is-circle border-primary text-primary"
              >
                <i
                  class="iconify rem-150"
                  data-icon="ph:microphone-stage-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow pt-3">For Artists</h4>
              <p class="pt-2 mx-auto max-w-3 small:max-w-2 text-medium rem-90">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="feature-block-v5">
        <div class="columns is-vcentered is-multiline">
          <div class="column is-6">
            <h2 class="title is-4">Creation is brutalistic</h2>
            <p class="max-w-tp-full medium:max-w-4 mb-4 text-medium rem-95">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illi enim
              inter se dissentiunt. Expectoque quid ad id, quod quaerebam,
              respondeas. Nescio quo modo praetervolavit oratio. Duo Reges:
              constructio interrete. Disserendi artem nullam habuit. Videsne
              quam sit magna dissensio? Ecce aliud simile dissimile.
            </p>

            <div class="columns b-columns-half-tablet-p">
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <h4 class="title is-6 is-narrow">Creative thinking</h4>
                  <p class="pt-2 max-w-2 text-light rem-90 mb-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                  <a class="action-link rem-85" href="#">
                    <span>Learn More</span>
                    <i class="iconify" data-icon="lucide:arrow-right"></i>
                  </a>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <h4 class="title is-6 is-narrow">Technique</h4>
                  <p class="pt-2 max-w-2 text-light rem-90 mb-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                  <a class="action-link rem-85" href="#">
                    <span>Learn More</span>
                    <i class="iconify" data-icon="lucide:arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <img
              class="block mx-auto"
              src="/img/photo/600x500/11.jpg"
              alt="Block image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="has-text-centered pb-6">
        <span class="tag is-primary is-curved is-outlined mb-2"
          >They help us</span
        >
        <h2 class="title is-3">Our Mentors</h2>
        <p class="subtitle is-5 text-medium">
          People with great expertise we rely on
        </p>
      </div>

      <div class="content-block-v3">
        <div class="mx-auto max-w-8">
          <div class="columns">
            <div class="column is-6">
              <p class="text-medium text-italic rem-95 mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
                iste, inquam, de voluptate quid sentit?
              </p>
              <p class="text-medium">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
                iste, inquam, de voluptate quid sentit? Hanc quoque
                iucunditatem, si vis, transfer in animum.
              </p>
            </div>
            <div class="column is-6">
              <p class="text-medium text-italic rem-95 mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
                iste, inquam, de voluptate quid sentit?
              </p>
              <p class="text-medium">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
                iste, inquam, de voluptate quid sentit? Hanc quoque
                iucunditatem, si vis, transfer in animum.
              </p>
            </div>
          </div>

          <div
            class="mx-auto max-w-5 is-flex is-justify-content-space-between py-8"
          >
            <img
              class="inline-block size-60x60 filter-gray object-cover mx-2 is-circle"
              src="/img/avatars/44.jpg"
              alt="Avatar"
            />
            <img
              class="inline-block size-60x60 filter-gray object-cover mx-2 is-circle"
              src="/img/avatars/12.jpg"
              alt="Avatar"
            />
            <img
              class="inline-block size-60x60 filter-gray object-cover mx-2 is-circle"
              src="/img/avatars/24.jpg"
              alt="Avatar"
            />
            <img
              class="inline-block size-60x60 filter-gray object-cover mx-2 is-circle"
              src="/img/avatars/45.jpg"
              alt="Avatar"
            />
            <img
              class="inline-block size-60x60 filter-gray object-cover mx-2 is-circle"
              src="/img/avatars/52.jpg"
              alt="Avatar"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="has-text-centered pb-6">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2"
          >What we do</span
        >
        <h2 class="title is-3">How we handle it</h2>
        <p class="subtitle is-5 text-medium">
          Take the time to learn more about us
        </p>
      </div>

      <div class="feature-block-v12">
        <!-- Feature -->
        <div class="py-6">
          <div class="columns is-vcentered b-centered-tablet-p">
            <div class="column is-6">
              <img src="/img/photo/600x500/12.jpg" alt="Block image" />
            </div>

            <div class="column is-5">
              <span class="is-block is-uppercase mb-2 text-primary"
                >Coaching</span
              >
              <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
                Artistic mentoring
              </h3>
              <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud
                non continuo, ut aeque incontentae. Duo Reges: constructio
                interrete. Si qua in iis corrigere voluit, deteriora fecit. Sit
                enim idem caecus, debilis.
              </p>

              <a class="action-link" href="#">
                <span>See how it works</span>
                <i class="iconify" data-icon="lucide:arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Feature -->
        <div class="py-6">
          <div class="columns is-vcentered b-centered-tablet-p">
            <div class="column is-5 is-offset-1">
              <span class="is-block is-uppercase mb-2 text-primary"
                >Open your eyes</span
              >
              <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
                Natural synergies
              </h3>
              <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud
                non continuo, ut aeque incontentae. Duo Reges: constructio
                interrete. Si qua in iis corrigere voluit, deteriora fecit. Sit
                enim idem caecus, debilis.
              </p>
              <ul class="pl-4 small:hidden">
                <li class="is-flex is-align-items-center py-2">
                  <i
                    class="iconify text-primary rem-125"
                    data-icon="lucide:check"></i>
                  <div class="ml-2">
                    <p class="small:max-w-2 text-medium">Natural art</p>
                  </div>
                </li>
                <li class="is-flex is-align-items-center py-2">
                  <i
                    class="iconify text-primary rem-125"
                    data-icon="lucide:check"></i>
                  <div class="ml-2">
                    <p class="small:max-w-2 text-medium">Ecologic materials</p>
                  </div>
                </li>
                <li class="is-flex is-align-items-center py-2">
                  <i
                    class="iconify text-primary rem-125"
                    data-icon="lucide:check"></i>
                  <div class="ml-2">
                    <p class="small:max-w-2 text-medium">Mimestism</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="column is-6">
              <img src="/img/photo/600x500/13.jpg" alt="Block image" />
            </div>
          </div>
        </div>

        <!-- Feature -->
        <div class="py-6">
          <div class="columns is-vcentered b-centered-tablet-p">
            <div class="column is-6">
              <img src="/img/photo/600x500/14.jpg" alt="Block image" />
            </div>

            <div class="column is-5">
              <span class="is-block is-uppercase mb-2 text-primary"
                >Tools to master</span
              >
              <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
                High-end practice
              </h3>
              <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud
                non continuo, ut aeque incontentae. Duo Reges: constructio
                interrete. Si qua in iis corrigere voluit, deteriora fecit. Sit
                enim idem caecus, debilis.
              </p>

              <a class="action-link" href="#">
                <span>Learn more about practice</span>
                <i class="iconify" data-icon="lucide:arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="has-text-centered pb-6">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2"
          >Testimonials</span
        >
        <h2 class="title is-3">They speak for us</h2>
        <p class="subtitle is-5 text-medium">
          Hear what our customers say about us
        </p>
      </div>

      <div class="testimonial-block-v1">
        <div class="columns has-text-centered py-6">
          <div class="column small:mb-6">
            <i
              class="iconify rem-150 text-primary"
              data-icon="fa6-solid:quote-left"></i>
            <p class="block mx-auto max-w-4 text-medium px-4">
              It's a really cool network. Like, we had a fight with Richard at
              one point, and I think they deleted some of my data, but then they
              brought it back. Just bro's being bro's.
            </p>
            <div class="level mt-4 mb-4">
              <div class="level-item">
                <figure class="image size-64x64">
                  <img
                    class="block size-64x64 is-circle filter-gray"
                    src="/img/avatars/52.jpg"
                    alt="Avatar"
                  />
                </figure>
              </div>
            </div>
            <h5 class="title is-6 is-narrow">Amy Walder</h5>
            <p class="rem-90 text-light">CEO at K-Hole</p>
          </div>

          <div class="column small:mb-6">
            <i
              class="iconify rem-150 text-primary"
              data-icon="fa6-solid:quote-left"></i>
            <p class="block mx-auto max-w-4 text-medium px-4">
              It's a really cool network. Like, we had a fight with Richard at
              one point, and I think they deleted some of my data, but then they
              brought it back. Just bro's being bro's.
            </p>
            <div class="level mt-4 mb-4">
              <div class="level-item">
                <figure class="image size-64x64">
                  <img
                    class="block size-64x64 is-circle filter-gray"
                    src="/img/avatars/32.jpg"
                    alt="Avatar"
                  />
                </figure>
              </div>
            </div>
            <h5 class="title is-6 is-narrow">Erin Smith</h5>
            <p class="rem-90 text-light">CEO at Bwarg</p>
          </div>

          <div class="column">
            <i
              class="iconify rem-150 text-primary"
              data-icon="fa6-solid:quote-left"></i>
            <p class="block mx-auto max-w-4 text-medium px-4">
              It's a really cool network. Like, we had a fight with Richard at
              one point, and I think they deleted some of my data, but then they
              brought it back. Just bro's being bro's.
            </p>
            <div class="level mt-4 mb-4">
              <div class="level-item">
                <figure class="image size-64x64">
                  <img
                    class="block size-64x64 is-circle filter-gray"
                    src="/img/avatars/45.jpg"
                    alt="Avatar"
                  />
                </figure>
              </div>
            </div>
            <h5 class="title is-6 is-narrow">Mike Hassler</h5>
            <p class="rem-90 text-light">CEO at NewLight</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="call-block-v3">
        <div class="card max-w-7 mx-auto px-4 py-6 border-primary">
          <div class="has-text-centered">
            <h3 class="title is-3 is-spaced">Sign up now</h3>
            <p class="subtitle is-6 mx-auto max-w-3 text-medium">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis est
              tam dissimile homini. Quae cum dixisset paulumque?
            </p>
            <a class="button is-primary raised is-long-3">Get Started</a>

            <p class="rem-90 py-4 text-light">
              Biggest companies using our product
            </p>
            <div class="mx-auto max-w-5 max-w-tablet-p max-w-tp-4">
              <div
                class="columns b-columns-half-mobile b-columns-half-tablet-p"
              >
                <div class="column large:px-5">
                  <img
                    class="block max-w-xs mx-auto filter-invert"
                    src="/img/logo/brands/covenant.svg"
                    alt=""
                  />
                </div>
                <div class="column large:px-5">
                  <img
                    class="block max-w-xs mx-auto filter-invert"
                    src="/img/logo/brands/kromo.svg"
                    alt=""
                  />
                </div>
                <div class="column large:px-5">
                  <img
                    class="block max-w-xs mx-auto filter-invert"
                    src="/img/logo/brands/infinite.svg"
                    alt=""
                  />
                </div>
                <div class="column large:px-5">
                  <img
                    class="block max-w-xs mx-auto filter-invert"
                    src="/img/logo/brands/tribe.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
