---
import Layout from "../layouts/Default.astro";
import DoubleCta from "../components/DoubleCta.astro";
const title = "Home";
---

<Layout title={title}>
  <div class="hero is-fullheight is-side is-left has-top-bg">
    <img class="top-bg-alt" src="/img/bg/top-bg-alt.svg" alt="" />

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <h1 class="title is-1 is-bold">The beauty of Minimalism.</h1>
            <p class="subtitle is-5 b-centered-tablet-p text-medium">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sint ista
              Graecorum; Hoc mihi cum tuo fratre convenit desectetur elit vosim.
            </p>
            <div class="buttons">
              <a class="button is-primary is-medium is-raised">Discover</a>
              <a class="button is-primary is-outlined is-medium">Free Trial</a>
            </div>
          </div>
          <div class="column is-6 is-offset-1">
            <img
              class="mx-auto inverted-filter"
              src="/img/illustrations/hero-woman-2.svg"
              alt="Hero image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="has-text-centered pb-6">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2"
          >The real deal</span
        >
        <h2 class="title is-3">Minimalism wrecks</h2>
        <p class="subtitle is-5 text-medium">Clean, Sharp, Modern</p>
      </div>
      <div class="feature-block-v1">
        <div
          class="columns is-multiline b-columns-half-tablet-p has-text-centered"
        >
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i
                class="iconify rem-200 text-primary"
                data-icon="ph:crown-duotone"></i>
              <h4 class="title is-6 is-narrow">For Pros</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus. Hoc est non dividere, sed frangere.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i
                class="iconify rem-200 text-primary"
                data-icon="ph:wine-duotone"></i>
              <h4 class="title is-6 is-narrow">For Business</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus. Hoc est non dividere, sed frangere.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i
                class="iconify rem-200 text-primary"
                data-icon="ph:trophy-duotone"></i>
              <h4 class="title is-6 is-narrow">For Champions</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus. Hoc est non dividere, sed frangere.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i
                class="iconify rem-200 text-primary"
                data-icon="ph:rocket-duotone"></i>
              <h4 class="title is-6 is-narrow">For Startups</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus. Hoc est non dividere, sed frangere.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i
                class="iconify rem-200 text-primary"
                data-icon="ph:storefront-duotone"></i>
              <h4 class="title is-6 is-narrow">For Merchants</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus. Hoc est non dividere, sed frangere.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i
                class="iconify rem-200 text-primary"
                data-icon="ph:megaphone-duotone"></i>
              <h4 class="title is-6 is-narrow">For Marketers</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus. Hoc est non dividere, sed frangere.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2"
          >Never seen before</span
        >
        <h2 class="title is-3">Amazing stuff</h2>
        <p class="subtitle is-5 text-medium">
          You won't find better stuff anywhere else
        </p>
      </div>

      <div class="py-6">
        <div class="columns is-vcentered b-centered-tablet-p">
          <div class="column is-5 is-offset-1">
            <img
              class="light-image-block"
              src="/img/illustrations/feature-1.svg"
              alt=""
            />
            <img
              class="dark-image-block"
              src="/img/illustrations/feature-1-dark.svg"
              alt=""
            />
          </div>

          <div class="column is-5">
            <span class="is-block is-uppercase mb-2 text-primary"
              >Inspiration</span
            >
            <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
              Get inspiration and design ideas
            </h3>
            <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud non
              continuo, ut aeque incontentae. Duo Reges: constructio interrete.
              Si qua in iis corrigere voluit, deteriora fecit. Sit enim idem
              caecus, debilis.
            </p>

            <a class="action-link" href="#">
              <span>Explore components</span>
              <i class="iconify" data-icon="lucide:arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="py-6">
        <div class="columns is-vcentered b-centered-tablet-p">
          <div class="column is-5 is-offset-1">
            <span class="is-block is-uppercase mb-2 text-primary"
              >Customization</span
            >
            <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
              Copy, extend, tweak, customize
            </h3>
            <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud non
              continuo, ut aeque incontentae. Duo Reges: constructio interrete.
              Si qua in iis corrigere voluit, deteriora fecit. Sit enim idem
              caecus, debilis.
            </p>
            <ul class="pl-4 small:hidden">
              <li class="is-flex is-align-items-center py-2">
                <i class="iconify text-primary rem-125" data-icon="lucide:check"
                ></i>
                <div class="ml-2">
                  <p class="small:max-w-2 text-medium">60+ pre-made blocks</p>
                </div>
              </li>
              <li class="is-flex is-align-items-center py-2">
                <i class="iconify text-primary rem-125" data-icon="lucide:check"
                ></i>
                <div class="ml-2">
                  <p class="small:max-w-2 text-medium">Easy copy and paste</p>
                </div>
              </li>
              <li class="is-flex is-align-items-center py-2">
                <i class="iconify text-primary rem-125" data-icon="lucide:check"
                ></i>
                <div class="ml-2">
                  <p class="small:max-w-2 text-medium">Light CSS</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="column is-6">
            <img
              class="light-image-block"
              src="/img/illustrations/feature-2.svg"
              alt=""
            />
            <img
              class="dark-image-block"
              src="/img/illustrations/feature-2-dark.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="py-6">
        <div class="columns is-vcentered b-centered-tablet-p">
          <div class="column is-6">
            <img
              class="light-image-block"
              src="/img/illustrations/feature-3.svg"
              alt=""
            />
            <img
              class="dark-image-block"
              src="/img/illustrations/feature-3-dark.svg"
              alt=""
            />
          </div>

          <div class="column is-5">
            <span class="is-block is-uppercase mb-2 text-primary"
              >Easy to use</span
            >
            <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
              Go live way faster
            </h3>
            <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud non
              continuo, ut aeque incontentae. Duo Reges: constructio interrete.
              Si qua in iis corrigere voluit, deteriora fecit. Sit enim idem
              caecus, debilis.
            </p>

            <a class="action-link" href="#">
              <span>Read documentation</span>
              <i class="iconify" data-icon="lucide:arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="py-6">
        <div class="columns is-vcentered b-centered-tablet-p">
          <div class="column is-5 is-offset-1">
            <span class="is-block is-uppercase mb-2 text-primary"
              >Engagement</span
            >
            <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
              Creat customer engagement
            </h3>
            <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud non
              continuo, ut aeque incontentae. Duo Reges: constructio interrete.
              Si qua in iis corrigere voluit, deteriora fecit. Sit enim idem
              caecus, debilis.
            </p>
            <ul class="pl-4 small:hidden">
              <li class="is-flex is-align-items-center py-2">
                <i class="iconify text-primary rem-125" data-icon="lucide:check"
                ></i>
                <div class="ml-2">
                  <p class="small:max-w-2 text-medium">
                    Beautiful & clean design
                  </p>
                </div>
              </li>
              <li class="is-flex is-align-items-center py-2">
                <i class="iconify text-primary rem-125" data-icon="lucide:check"
                ></i>
                <div class="ml-2">
                  <p class="small:max-w-2 text-medium">Easy copy and paste</p>
                </div>
              </li>
              <li class="is-flex is-align-items-center py-2">
                <i class="iconify text-primary rem-125" data-icon="lucide:check"
                ></i>
                <div class="ml-2">
                  <p class="small:max-w-2 text-medium">Navigation options</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="column is-6">
            <img
              class="light-image-block"
              src="/img/illustrations/feature-4.svg"
              alt=""
            />
            <img
              class="dark-image-block"
              src="/img/illustrations/feature-4-dark.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2"
          >Who we are</span
        >
        <h2 class="title is-3">Our Story</h2>
        <p class="subtitle is-5 text-medium">
          We weren't always amongst the top players
        </p>
      </div>

      <div class="py-12">
        <div class="columns is-vcentered">
          <div class="column is-6 is-relative is-centered-portrait">
            <div class="video-player-container is-square">
              <video
                id="hero-player"
                class="video-player"
                playsinline
                controls
                poster="/img/video/poster-1c.jpg"
              >
                <source src="/img/video/hands.mp4" type="video/mp4" />
                <source src="/img/video/hands.webm" type="video/webm" />
              </video>
            </div>
          </div>
          <div class="column is-5 is-offset-1">
            <h2 class="title is-3 small:text-centered">Our Values</h2>

            <div
              class="columns is-multiline small:max-w-5 small:mx-auto small:px-8"
            >
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <h4 class="title is-6 is-narrow">Commitment</h4>
                  <p class="pt-2 max-w-3 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    videbimus.
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <h4 class="title is-6 is-narrow">Collaboration</h4>
                  <p class="pt-2 max-w-3 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    videbimus.
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <h4 class="title is-6 is-narrow">Diversity</h4>
                  <p class="pt-2 max-w-3 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    videbimus.
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <h4 class="title is-6 is-narrow">Remote Work</h4>
                  <p class="pt-2 max-w-3 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    videbimus.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section is-minimal has-pseudo-lines">
    <div class="container">
      <div class="pt-12 pb-4 mx-auto max-w-8">
        <div class="has-text-centered mb-8">
          <span class="tag is-primary is-curved is-outlined is-thick mb-2"
            >Multipurpose</span
          >
          <h2 class="title is-3">Fit for any purpose</h2>
        </div>
        <div class="columns">
          <div class="column is-6">
            <p
              class="text-medium small:text-centered small:mx-auto small:max-w-5"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
              iste, inquam, de voluptate quid sentit? Hanc quoque iucunditatem,
              si vis, transfer in animum; Erat enim Polemonis. Apparet statim,
              quae sint officia, quae actiones. Ita prorsus, inquam.
            </p>
          </div>
          <div class="column is-6">
            <p
              class="text-medium small:text-centered small:mx-auto small:max-w-5"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
              iste, inquam, de voluptate quid sentit? Hanc quoque iucunditatem,
              si vis, transfer in animum; Erat enim Polemonis. Apparet statim,
              quae sint officia, quae actiones. Ita prorsus, inquam.
            </p>
          </div>
        </div>

        <div class="feature-block-v8 pb-12">
          <div class="columns is-multiline">
            <div class="column is-12">
              <div class="block mb-4 has-text-centered mx-auto max-w-8">
                <div class="mx-auto max-w-7">
                  <div class="video-player-container is-16by9">
                    <video
                      id="hero-player"
                      class="video-player"
                      playsinline
                      controls
                      poster="/img/video/poster-1a.jpg"
                    >
                      <source src="/img/video/hands.mp4" type="video/mp4" />
                      <source src="/img/video/hands.webm" type="video/webm" />
                    </video>
                  </div>
                </div>

                <div
                  class="columns b-columns-third-tablet-p has-text-left mt-4"
                >
                  <!-- Feature -->
                  <div class="column is-4 has-text-centered">
                    <div
                      class="mx-auto is-44x44 is-flex is-justify-content-center is-align-items-center is-circle bg-grey"
                    >
                      <i
                        class="iconify rem-175 text-primary"
                        data-icon="ph:sticker-duotone"></i>
                    </div>
                    <div class="py-2">
                      <h4 class="title is-6 is-leading">White labeled</h4>
                      <p class="mx-auto max-w-2 text-medium rem-90">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </div>
                  </div>
                  <!-- Feature -->
                  <div class="column is-4 has-text-centered">
                    <div
                      class="mx-auto is-44x44 is-flex is-justify-content-center is-align-items-center is-circle bg-grey"
                    >
                      <i
                        class="iconify rem-175 text-primary"
                        data-icon="ph:path-duotone"></i>
                    </div>
                    <div class="py-2">
                      <h4 class="title is-6 is-leading">Minimal</h4>
                      <p class="mx-auto max-w-2 text-medium rem-90">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </div>
                  </div>
                  <!-- Feature -->
                  <div class="column is-4 has-text-centered">
                    <div
                      class="mx-auto is-44x44 is-flex is-justify-content-center is-align-items-center is-circle bg-grey"
                    >
                      <i
                        class="iconify rem-175 text-primary"
                        data-icon="ph:sparkle-duotone"></i>
                    </div>
                    <div class="py-2">
                      <h4 class="title is-6 is-leading">Efficient</h4>
                      <p class="mx-auto max-w-2 text-medium rem-90">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="feature-block-v11 py-12">
        <div class="columns is-vcentered py-4">
          <div class="column is-5">
            <h2 class="title is-3">A great experience</h2>
            <p class="max-w-tp-full medium:max-w-4 mb-4 text-medium">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illi enim
              inter se dissentiunt. Expectoque quid ad id, quod quaerebam,
              respondeas. Nescio quo modo praetervolavit oratio. Duo Reges:
              constructio interrete. Disserendi artem nullam.
            </p>

            <a class="action-link" href="#">
              <span>See how it works</span>
              <i class="iconify" data-icon="lucide:arrow-right"></i>
            </a>
          </div>
          <div class="column is-6 is-offset-1">
            <div class="columns is-multiline b-columns-half-tablet-p">
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <i
                    class="iconify rem-150 text-primary"
                    data-icon="ph:grid-four-duotone"></i>
                  <h4 class="title is-6 is-narrow">Reusable blocks</h4>
                  <p class="pt-2 max-w-2 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <i
                    class="iconify rem-150 text-primary"
                    data-icon="ph:layout-duotone"></i>
                  <h4 class="title is-6 is-narrow">Prebuilt layouts</h4>
                  <p class="pt-2 max-w-2 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <i
                    class="iconify rem-150 text-primary"
                    data-icon="ph:sidebar-duotone"></i>
                  <h4 class="title is-6 is-narrow">Clean design</h4>
                  <p class="pt-2 max-w-2 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <i
                    class="iconify rem-150 text-primary"
                    data-icon="ph:moon-duotone"></i>
                  <h4 class="title is-6 is-narrow">Dark mode</h4>
                  <p class="pt-2 max-w-2 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-6">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2"
          >The Blog</span
        >
        <h2 class="title is-3">Latest News</h2>
        <p class="subtitle is-5 text-medium">
          Stay tuned for nice and crunchy news
        </p>
      </div>

      <div class="pb-12">
        <div class="columns b-columns-half-tablet-p">
          <div class="column is-4">
            <div class="card">
              <div class="card-content">
                <div class="media is-align-items-center">
                  <div class="media-left">
                    <img
                      class="block size-44x44 is-circle has-border filter-gray"
                      src="/img/avatars/52.jpg"
                      alt="Avatar"
                    />
                  </div>
                  <div class="media-content">
                    <p class="subtitle rem-80 text-uppercase text-light">
                      News
                    </p>
                    <p class="title is-6">We just released 1.4.2</p>
                  </div>
                </div>

                <div class="content">
                  <p class="text-medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </p>
                </div>
                <div
                  class="is-flex is-align-items-center is-justify-content-space-between"
                >
                  <div>
                    <a class="action-link" href="#">
                      <span>Read More</span>
                      <i class="iconify" data-icon="feather:arrow-right"></i>
                    </a>
                  </div>
                  <div class="is-flex is-align-items-center">
                    <div class="is-flex is-align-items-center text-light">
                      <i class="iconify" data-icon="feather:eye"></i>
                      <span class="ml-1">327</span>
                    </div>
                    <div class="mx-3"></div>
                    <div class="is-flex is-align-items-center text-light">
                      <i class="iconify" data-icon="feather:message-circle"></i>
                      <span class="ml-1">12</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-image">
                <img class="block" src="/img/photo/posts/1.jpg" alt="Photo" />
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="card">
              <div class="card-content">
                <div class="media is-align-items-center">
                  <div class="media-left">
                    <img
                      class="block size-44x44 is-circle has-border has-light-shadow filter-gray"
                      src="/img/avatars/43.jpg"
                      alt="Avatar"
                    />
                  </div>
                  <div class="media-content">
                    <p class="subtitle rem-80 text-uppercase text-light">
                      Tech
                    </p>
                    <p class="title is-6">5 tips to handle pressure</p>
                  </div>
                </div>

                <div class="content">
                  <p class="text-medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </p>
                </div>
                <div
                  class="is-flex is-align-items-center is-justify-content-space-between"
                >
                  <div>
                    <a class="action-link" href="#">
                      <span>Read More</span>
                      <i class="iconify" data-icon="feather:arrow-right"></i>
                    </a>
                  </div>
                  <div class="is-flex is-align-items-center">
                    <div class="is-flex is-align-items-center text-light">
                      <i class="iconify" data-icon="feather:eye"></i>
                      <span class="ml-1">1.4k</span>
                    </div>
                    <div class="mx-3"></div>
                    <div class="is-flex is-align-items-center text-light">
                      <i class="iconify" data-icon="feather:message-circle"></i>
                      <span class="ml-1">195</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-image">
                <img class="block" src="/img/photo/posts/2.jpg" alt="Photo" />
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="card">
              <div class="card-content">
                <div class="media is-align-items-center">
                  <div class="media-left">
                    <img
                      class="block size-44x44 is-circle has-border has-light-shadow filter-gray"
                      src="/img/avatars/17.jpg"
                      alt="Avatar"
                    />
                  </div>
                  <div class="media-content">
                    <p class="subtitle rem-80 text-uppercase text-light">
                      Tutorials
                    </p>
                    <p class="title is-6">An article title</p>
                  </div>
                </div>

                <div class="content">
                  <p class="text-medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </p>
                </div>
                <div
                  class="is-flex is-align-items-center is-justify-content-space-between"
                >
                  <div>
                    <a class="action-link" href="#">
                      <span>Read More</span>
                      <i class="iconify" data-icon="feather:arrow-right"></i>
                    </a>
                  </div>
                  <div class="is-flex is-align-items-center">
                    <div class="is-flex is-align-items-center text-light">
                      <i class="iconify" data-icon="feather:eye"></i>
                      <span class="ml-1">862</span>
                    </div>
                    <div class="mx-3"></div>
                    <div class="is-flex is-align-items-center text-light">
                      <i class="iconify" data-icon="feather:message-circle"></i>
                      <span class="ml-1">72</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-image">
                <img class="block" src="/img/photo/posts/3.jpg" alt="Photo" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="has-text-centered">
        <p class="subtitle mx-auto max-w-5 text-medium">
          Decentralized, secure and private. Minimal is on it's way to
          revolutionize all aspects of web design.
        </p>
        <div class="buttons is-centered mt-4 mb-6">
          <a class="button is-primary is-big is-long-2 raised" href="#"
            >Join the Revolution</a
          >
        </div>
      </div>

      <div class="has-text-centered py-8">
        <h3 class="title is-6">Great Companies that already use Minimal</h3>

        <div class="mx-auto max-w-6 max-w-tablet-p max-w-tp-4">
          <div class="columns b-columns-half-mobile b-columns-third-tablet-p">
            <div class="column px-5">
              <img
                class="inverted-filter"
                src="/img/logo/brands/covenant.svg"
                alt=""
              />
            </div>
            <div class="column px-5">
              <img
                class="inverted-filter"
                src="/img/logo/brands/kromo.svg"
                alt=""
              />
            </div>
            <div class="column px-5">
              <img
                class="inverted-filter"
                src="/img/logo/brands/infinite.svg"
                alt=""
              />
            </div>
            <div class="column px-5">
              <img
                class="inverted-filter"
                src="/img/logo/brands/gutwork.svg"
                alt=""
              />
            </div>
            <div class="column px-5">
              <img
                class="inverted-filter"
                src="/img/logo/brands/tribe.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="testimonial-block-v4">
        <div class="pt-6 pb-4">
          <div
            class="box mobile:p-4 small:p-6 large:p-6 wide:p-6 is-flex d-column-mobile d-column-tablet-p max-w-7 mx-auto"
          >
            <div>
              <img
                class="block size-120x120 is-circle small:mx-auto small:mb-4 filter-gray"
                src="/img/avatars/29.jpg"
                alt="Avatar"
              />
            </div>

            <div class="max-w-5 ml-auto px-4 small:px-0 small:mx-auto">
              <i
                class="iconify rem-175 text-primary mb-4"
                data-icon="fa6-solid:quote-left"></i>
              <p class="block text-medium rem-100">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
                iste, inquam, de voluptate quid sentit? Hanc quoque
                iucunditatem, si vis, transfer in animum; Erat enim Polemonis.
                Apparet statim, quae sint officia."
              </p>
              <div>
                <h5 class="title is-6 is-narrow">Christina Chu</h5>
                <p class="rem-95 text-light">CEO at Overwhat</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CTA -->
      <div class="py-6">
        <DoubleCta />
      </div>
    </div>
  </div>
</Layout>
