---
import Layout from "../layouts/Default.astro";
const title = "Home";
---

<Layout title={title}>
  <div class="hero is-fullheight is-center has-top-bg">
    <img class="top-bg-alt" src="/img/bg/top-bg-alt.svg" alt="" />

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered mt-6">
          <div class="column">
            <h1 class="title is-1 is-bold">Build your minimal app.</h1>
            <p
              class="subtitle is-5 mx-auto max-w-5 b-centered-tablet-p text-medium"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sint ista
              Graecorum; Hoc mihi cum tuo fratre convenit.
            </p>
            <div class="buttons">
              <a class="button is-primary is-medium is-raised">Discover</a>
              <a class="button is-primary is-outlined is-medium">Free Trial</a>
            </div>
            <div class="mx-auto max-w-6">
              <img
                class="light-image-block mx-auto"
                src="/img/illustrations/hero-12.svg"
                alt=""
              />
              <img
                class="dark-image-block mx-auto"
                src="/img/illustrations/hero-12-dark.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="has-text-centered pb-6">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2"
          >Made by Pros</span
        >
        <h2 class="title is-3">Made for winners</h2>
        <p class="subtitle is-5 text-medium">
          Whatever is your problem, we have a solution
        </p>
      </div>

      <div class="feature-block-v2">
        <div class="columns b-columns-half-tablet-p is-multiline">
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
              >
                <i class="iconify rem-150" data-icon="ph:crown-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow">For Pros</h4>
              <p class="pt-2 max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
              >
                <i class="iconify rem-150" data-icon="ph:wine-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow">For Business</h4>
              <p class="pt-2 max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
              >
                <i class="iconify rem-150" data-icon="ph:trophy-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow">For Champions</h4>
              <p class="pt-2 max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
              >
                <i class="iconify rem-150" data-icon="ph:rocket-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow">For Startups</h4>
              <p class="pt-2 max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
              >
                <i class="iconify rem-150" data-icon="ph:storefront-duotone"
                ></i>
              </div>
              <h4 class="title is-6 is-narrow">For Merchants</h4>
              <p class="pt-2 max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
              >
                <i class="iconify rem-150" data-icon="ph:megaphone-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow">For Marketers</h4>
              <p class="pt-2 max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
              >
                <i class="iconify rem-150" data-icon="ph:parachute-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow">For Explorators</h4>
              <p class="pt-2 max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-3">
            <div class="py-4">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-primary text-primary-invert mb-4"
              >
                <i
                  class="iconify rem-150"
                  data-icon="ph:microphone-stage-duotone"></i>
              </div>
              <h4 class="title is-6 is-narrow">For Artists</h4>
              <p class="pt-2 max-w-3 text-medium rem-95">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                videbimus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="feature-block-v6">
        <div class="columns is-vcentered is-multiline">
          <div class="column is-6">
            <img
              class="block mx-auto"
              src="/img/photo/600x500/15.jpg"
              alt="Block image"
            />
          </div>

          <div class="column is-5 is-offset-1">
            <div class="columns is-multiline b-columns-half-tablet-p">
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <i
                    class="iconify rem-150 text-primary"
                    data-icon="ph:device-mobile-duotone"></i>
                  <h4 class="title is-6 is-narrow">Free to download</h4>
                  <p class="pt-2 max-w-2 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <i
                    class="iconify rem-150 text-primary"
                    data-icon="ph:sparkle-duotone"></i>
                  <h4 class="title is-6 is-narrow">Easy and intuitive</h4>
                  <p class="pt-2 max-w-2 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <i
                    class="iconify rem-150 text-primary"
                    data-icon="ph:gauge-duotone"></i>
                  <h4 class="title is-6 is-narrow">Performant</h4>
                  <p class="pt-2 max-w-2 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <i
                    class="iconify rem-150 text-primary"
                    data-icon="ph:lock-duotone"></i>
                  <h4 class="title is-6 is-narrow">Secure</h4>
                  <p class="pt-2 max-w-2 text-medium rem-90">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2"
          >Our founders</span
        >
        <h2 class="title is-3">The guys behind it</h2>
        <p class="subtitle is-5 text-medium">
          Some members of our talented creators crew
        </p>
      </div>

      <div class="content-block-v2">
        <div class="py-6 mx-auto max-w-8">
          <div class="columns is-vcentered">
            <div class="column is-6">
              <p
                class="text-medium text-italic rem-95 mb-4 small:text-centered"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
                iste, inquam, de voluptate quid sentit?
              </p>
              <p class="text-medium small:text-centered">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
                iste, inquam, de voluptate quid sentit? Hanc quoque
                iucunditatem, si vis, transfer in animum.
              </p>
            </div>
            <div class="column is-6">
              <div class="mx-auto is-flex is-justify-content-center">
                <img
                  class="inline-block size-80x80 object-cover mx-2 is-circle filter-gray"
                  src="/img/avatars/19.jpg"
                  alt="Avatar"
                />
                <img
                  class="inline-block size-80x80 object-cover mx-2 is-circle filter-gray"
                  src="/img/avatars/29.jpg"
                  alt="Avatar"
                />
                <img
                  class="inline-block size-80x80 object-cover mx-2 is-circle filter-gray"
                  src="/img/avatars/42.jpg"
                  alt="Avatar"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="has-text-centered pb-6">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2"
          >Our App</span
        >
        <h2 class="title is-3">How it works</h2>
        <p class="subtitle is-5 text-medium">
          Take the time to learn more about the app
        </p>
      </div>

      <div class="feature-block-v12">
        <!-- Feature -->
        <div class="py-6">
          <div class="columns is-vcentered b-centered-tablet-p">
            <div class="column is-6">
              <img
                class="block mx-auto light-image-block"
                src="/img/illustrations/mobile-feature-1.svg"
                alt="Block image"
              />
              <img
                class="block mx-auto dark-image-block"
                src="/img/illustrations/mobile-feature-1-dark.svg"
                alt="Block image"
              />
            </div>

            <div class="column is-5">
              <span class="is-block is-uppercase mb-2 text-primary"
                >Personal Space</span
              >
              <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
                Manage your account
              </h3>
              <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud
                non continuo, ut aeque incontentae. Duo Reges: constructio
                interrete. Si qua in iis corrigere voluit, deteriora fecit. Sit
                enim idem caecus, debilis.
              </p>

              <a class="action-link" href="#">
                <span>See how it works</span>
                <i class="iconify" data-icon="lucide:arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Feature -->
        <div class="py-6">
          <div class="columns is-vcentered b-centered-tablet-p">
            <div class="column is-5 is-offset-1">
              <span class="is-block is-uppercase mb-2 text-primary"
                >Open your ears</span
              >
              <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
                Listen all the day
              </h3>
              <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud
                non continuo, ut aeque incontentae. Duo Reges: constructio
                interrete. Si qua in iis corrigere voluit, deteriora fecit. Sit
                enim idem caecus, debilis.
              </p>
              <ul class="pl-4 small:hidden">
                <li class="is-flex is-align-items-center py-2">
                  <i
                    class="iconify text-primary rem-125"
                    data-icon="lucide:check"></i>
                  <div class="ml-2">
                    <p class="small:max-w-2 text-medium">Music, songs</p>
                  </div>
                </li>
                <li class="is-flex is-align-items-center py-2">
                  <i
                    class="iconify text-primary rem-125"
                    data-icon="lucide:check"></i>
                  <div class="ml-2">
                    <p class="small:max-w-2 text-medium">Conferences</p>
                  </div>
                </li>
                <li class="is-flex is-align-items-center py-2">
                  <i
                    class="iconify text-primary rem-125"
                    data-icon="lucide:check"></i>
                  <div class="ml-2">
                    <p class="small:max-w-2 text-medium">Courses, debates</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="column is-6">
              <img
                class="block mx-auto light-image-block"
                src="/img/illustrations/mobile-feature-2.svg"
                alt="Block image"
              />
              <img
                class="block mx-auto dark-image-block"
                src="/img/illustrations/mobile-feature-2-dark.svg"
                alt="Block image"
              />
            </div>
          </div>
        </div>

        <!-- Feature -->
        <div class="py-6">
          <div class="columns is-vcentered b-centered-tablet-p">
            <div class="column is-6">
              <img
                class="block mx-auto light-image-block"
                src="/img/illustrations/mobile-feature-3.svg"
                alt="Block image"
              />
              <img
                class="block mx-auto dark-image-block"
                src="/img/illustrations/mobile-feature-3-dark.svg"
                alt="Block image"
              />
            </div>

            <div class="column is-5">
              <span class="is-block is-uppercase mb-2 text-primary"
                >Share it</span
              >
              <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
                Listen and share your own
              </h3>
              <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illud
                non continuo, ut aeque incontentae. Duo Reges: constructio
                interrete. Si qua in iis corrigere voluit, deteriora fecit. Sit
                enim idem caecus, debilis.
              </p>

              <a class="action-link" href="#">
                <span>Learn more about sharing</span>
                <i class="iconify" data-icon="lucide:arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="has-text-centered pb-6">
        <span class="tag is-primary is-curved is-outlined mb-2"
          >Success Stories</span
        >
        <h2 class="title is-3">Booba's story</h2>
        <p class="subtitle is-5 text-medium">
          How he made it using our services
        </p>
      </div>

      <div class="content-block-v6">
        <div class="py-6 mx-auto max-w-8">
          <div class="columns is-vcentered b-only-tablet-p-flex">
            <div class="column is-6">
              <img src="/img/photo/600x500/6.jpg" alt="" />
            </div>
            <div class="column is-6">
              <p class="text-medium mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
                iste, inquam, de voluptate quid sentit? Hanc quoque
                iucunditatem, si vis, transfer in animum; Erat enim Polemonis.
                Apparet statim, quae sint officia, quae actiones. Ita prorsus,
                inquam.
              </p>
              <div class="is-flex is-align-items-center py-4">
                <img
                  class="mx-2 max-w-1/5 filter-invert"
                  src="/img/logo/brands/infinite.svg"
                  alt="Client logo"
                />
                <img
                  class="mx-2 max-w-1/5 filter-invert"
                  src="/img/logo/brands/kromo.svg"
                  alt="Client logo"
                />
                <img
                  class="mx-2 max-w-1/5 filter-invert"
                  src="/img/logo/brands/tribe.svg"
                  alt="Client logo"
                />
                <img
                  class="mx-2 max-w-1/5 filter-invert"
                  src="/img/logo/brands/gutwork.svg"
                  alt="Client logo"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="pricing-block-v2">
        <div class="pricing-table is-comparative">
          <div class="pricing-plan">
            <div class="plan-header">Starter</div>
            <div class="plan-price">
              <span class="plan-price-amount"
                ><span class="plan-price-currency">$</span>20</span
              >/month
            </div>
            <div class="plan-items">
              <div class="plan-item text-medium">20GB Storage</div>
              <div class="plan-item text-medium">100 Domains</div>
              <div class="plan-item text-medium">-</div>
              <div class="plan-item text-medium">-</div>
            </div>
            <div class="plan-footer">
              <button class="button is-fullwidth" disabled="disabled">
                Current plan
              </button>
            </div>
          </div>

          <div class="pricing-plan">
            <div class="plan-header">Startup</div>
            <div class="plan-price">
              <span class="plan-price-amount"
                ><span class="plan-price-currency">$</span>40</span
              >/month
            </div>
            <div class="plan-items">
              <div class="plan-item text-medium">20GB Storage</div>
              <div class="plan-item text-medium">25 Domains</div>
              <div class="plan-item text-medium">1TB Bandwidth</div>
              <div class="plan-item text-medium">-</div>
            </div>
            <div class="plan-footer">
              <button class="button is-fullwidth">Choose</button>
            </div>
          </div>

          <div class="pricing-plan is-active is-primary">
            <div class="plan-header">Business</div>
            <div class="plan-price">
              <span class="plan-price-amount"
                ><span class="plan-price-currency">$</span>60</span
              >/month
            </div>
            <div class="plan-items">
              <div class="plan-item text-medium">200GB Storage</div>
              <div class="plan-item text-medium">50 Domains</div>
              <div class="plan-item text-medium">1TB Bandwidth</div>
              <div class="plan-item text-medium">100 Email Boxes</div>
            </div>
            <div class="plan-footer">
              <button class="button is-fullwidth">Choose</button>
            </div>
          </div>

          <div class="pricing-plan">
            <div class="plan-header">Enterprise</div>
            <div class="plan-price">
              <span class="plan-price-amount"
                ><span class="plan-price-currency">$</span>100</span
              >/month
            </div>
            <div class="plan-items">
              <div class="plan-item text-medium">2TB Storage</div>
              <div class="plan-item text-medium">100 Domains</div>
              <div class="plan-item text-medium">1TB Bandwidth</div>
              <div class="plan-item text-medium">1000 Email Boxes</div>
            </div>
            <div class="plan-footer">
              <button class="button is-fullwidth">Choose</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="has-text-centered pb-6">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2"
          >Testimonials</span
        >
        <h2 class="title is-3">They speak for us</h2>
        <p class="subtitle is-5 text-medium">
          Hear what our customers say about us
        </p>
      </div>

      <div class="testimonial-block-v2">
        <div class="columns has-text-centered b-columns-half-tablet-p mb-6">
          <div class="column">
            <div class="card p-5 border-primary">
              <div class="has-text-left ml-4">
                <i
                  class="iconify rem-175 text-primary"
                  data-icon="fa6-solid:quote-left"></i>
              </div>
              <div class="level mt-4 mb-4">
                <div class="level-item">
                  <figure class="image size-64x64">
                    <img
                      class="block size-64x64 is-circle filter-gray"
                      src="/img/avatars/15.jpg"
                      alt="Avatar"
                    />
                  </figure>
                </div>
              </div>
              <p class="block mx-auto max-w-4 text-medium px-4">
                It's a really cool network. Like, we had a fight with Richard at
                one point, and I think they deleted some of my data, but then
                they brought it back. Just bro's being bro's.
              </p>
              <h5 class="title is-6 is-narrow">Anna Miller</h5>
              <p class="rem-90 text-light mb-4">CEO at HeyBudd</p>
            </div>
          </div>

          <div class="column">
            <div class="card p-5 border-primary">
              <div class="has-text-left ml-4">
                <i
                  class="iconify rem-175 text-primary"
                  data-icon="fa6-solid:quote-left"></i>
              </div>
              <div class="level mt-4 mb-4">
                <div class="level-item">
                  <figure class="image size-64x64">
                    <img
                      class="block size-64x64 is-circle filter-gray"
                      src="/img/avatars/23.jpg"
                      alt="Avatar"
                    />
                  </figure>
                </div>
              </div>
              <p class="block mx-auto max-w-4 text-medium px-4">
                It's a really cool network. Like, we had a fight with Richard at
                one point, and I think they deleted some of my data, but then
                they brought it back. Just bro's being bro's.
              </p>
              <h5 class="title is-6 is-narrow">Jack Stornton</h5>
              <p class="rem-90 text-light mb-4">CEO at KeyPress</p>
            </div>
          </div>

          <div class="column">
            <div class="card p-5 border-primary">
              <div class="has-text-left ml-4">
                <i
                  class="iconify rem-175 text-primary"
                  data-icon="fa6-solid:quote-left"></i>
              </div>
              <div class="level mt-4 mb-4">
                <div class="level-item">
                  <figure class="image size-64x64">
                    <img
                      class="block size-64x64 is-circle filter-gray"
                      src="/img/avatars/11.jpg"
                      alt="Avatar"
                    />
                  </figure>
                </div>
              </div>
              <p class="block mx-auto max-w-4 text-medium px-4">
                It's a really cool network. Like, we had a fight with Richard at
                one point, and I think they deleted some of my data, but then
                they brought it back. Just bro's being bro's.
              </p>
              <h5 class="title is-6 is-narrow">Jessica Swants</h5>
              <p class="rem-90 text-light mb-4">CEO at MyBeee</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="call-block-v3">
        <div class="card max-w-7 mx-auto px-4 py-6 border-primary">
          <div class="has-text-centered">
            <h3 class="title is-3 is-spaced">Sign up now</h3>
            <p class="subtitle is-6 mx-auto max-w-3 text-medium">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis est
              tam dissimile homini. Quae cum dixisset paulumque?
            </p>
            <a class="button is-primary raised is-long-3">Get Started</a>

            <p class="rem-90 py-4 text-light">
              Biggest companies using our product
            </p>
            <div class="mx-auto max-w-5 max-w-tablet-p max-w-tp-4">
              <div
                class="columns b-columns-half-mobile b-columns-half-tablet-p"
              >
                <div class="column large:px-5">
                  <img
                    class="block max-w-xs mx-auto filter-invert"
                    src="/img/logo/brands/covenant.svg"
                    alt=""
                  />
                </div>
                <div class="column large:px-5">
                  <img
                    class="block max-w-xs mx-auto filter-invert"
                    src="/img/logo/brands/kromo.svg"
                    alt=""
                  />
                </div>
                <div class="column large:px-5">
                  <img
                    class="block max-w-xs mx-auto filter-invert"
                    src="/img/logo/brands/infinite.svg"
                    alt=""
                  />
                </div>
                <div class="column large:px-5">
                  <img
                    class="block max-w-xs mx-auto filter-invert"
                    src="/img/logo/brands/tribe.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
