---
import Layout from '../layouts/Default.astro';
import PricingBlockOne from '../components/blocks/pricing/PricingBlockOne.astro';
import PricingBlockTwo from '../components/blocks/pricing/PricingBlockTwo.astro';
import PricingBlockThree from '../components/blocks/pricing/PricingBlockThree.astro';
import DoubleCta from '../components/DoubleCta.astro';
const title = 'Pricing Blocks'
---

<Layout title={title}>
  <div class="hero is-fullheight is-side is-left has-top-bg">
    <img class="top-bg-alt" src="/img/bg/top-bg-alt.svg" alt="" />
  
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <h1 class="title is-1 is-bold">Minimal pricing sections.</h1>
            <p class="subtitle is-5 b-centered-tablet-p text-medium">
              Prebuilt and reusable pricing block that will fit perfectly on your
              pricing page.
            </p>
            <div class="buttons">
              <a
                href="#content-start"
                class="button is-primary is-medium raised scroll-link"
                >Explore</a
              >
              <a
                href="https://docs.cssninja.io/minimal"
                class="button is-primary is-outlined is-medium"
                >Docs</a
              >
            </div>
          </div>
          <div class="column is-6 is-offset-1">
            <img
              class="light-image-block mx-auto max-w-5"
              src="/img/illustrations/hero-8.svg"
              alt=""
            />
            <img
              class="dark-image-block mx-auto max-w-5"
              src="/img/illustrations/hero-8-dark.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="content-start" class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V1</span>
        <h2 class="title is-3">Pricing</h2>
        <p class="subtitle is-5 text-medium">Simple plans for everyone</p>
      </div>
  
      <!-- Pricing block v1 -->
      <div class="pb-12">
        <PricingBlockOne />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V2</span>
        <h2 class="title is-3">Pricing</h2>
        <p class="subtitle is-5 text-medium">Simple plans for everyone</p>
      </div>
  
      <!-- Pricing block v2 -->
      <div class="pb-12">
        <PricingBlockTwo />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V3</span>
        <h2 class="title is-3">Pricing</h2>
        <p class="subtitle is-5 text-medium">Simple plans for everyone</p>
      </div>
  
      <!-- Pricing block v3 -->
      <div class="pb-12">
        <PricingBlockThree />  
      </div>
    </div>
  </div>
  
  <!-- CTA -->
  <div class="section">
    <div class="container">
      <div class="py-6">
        <DoubleCta />  
      </div>
    </div>
  </div>
  
</Layout>