---
import Layout from '../layouts/Default.astro';
import TeamBlockOne from "../components/blocks/team/TeamBlockOne.astro";
import TeamBlockTwo from "../components/blocks/team/TeamBlockTwo.astro";
import TeamBlockThree from "../components/blocks/team/TeamBlockThree.astro";
import TeamBlockFour from "../components/blocks/team/TeamBlockFour.astro";
import TeamBlockFive from "../components/blocks/team/TeamBlockFive.astro";
import TeamBlockSix from "../components/blocks/team/TeamBlockSix.astro";
import TeamBlockSeven from "../components/blocks/team/TeamBlockSeven.astro";
import TeamBlockEight from "../components/blocks/team/TeamBlockEight.astro";
import TeamBlockNine from "../components/blocks/team/TeamBlockNine.astro";
import TeamBlockTen from "../components/blocks/team/TeamBlockTen.astro";
import DoubleCta from '../components/DoubleCta.astro';
const title = 'Team Blocks'
---

<Layout title={title}>
  
  <div class="hero is-fullheight is-side is-left has-top-bg">
    <img class="top-bg-alt" src="/img/bg/top-bg-alt.svg" alt="" />
  
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <h1 class="title is-1 is-bold">Minimal team sections.</h1>
            <p class="subtitle is-5 b-centered-tablet-p text-medium">
              Reusable blocks to present your team members or any people related
              to your business.
            </p>
            <div class="buttons">
              <a
                href="#content-start"
                class="button is-primary is-medium raised scroll-link"
                >Explore</a
              >
              <a
                href="https://docs.cssninja.io/minimal"
                class="button is-primary is-outlined is-medium"
                >Docs</a
              >
            </div>
          </div>
          <div class="column is-6 is-offset-1">
            <img
              class="light-image-block mx-auto max-w-5"
              src="/img/illustrations/hero-3.svg"
              alt=""
            />
            <img
              class="dark-image-block mx-auto max-w-5"
              src="/img/illustrations/hero-3-dark.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="content-start" class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V1</span>
        <h2 class="title is-3">Meet the Team</h2>
        <p class="subtitle is-5 text-medium">
          Meet talented people with very solid expertise
        </p>
      </div>
  
      <!-- Team block v1 -->
      <div class="pb-12">
        <TeamBlockOne />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V2</span>
        <h2 class="title is-3">Meet the Team</h2>
        <p class="subtitle is-5 text-medium">
          Meet talented people with very solid expertise
        </p>
      </div>
  
      <!-- Team block v2 -->
      <div class="pb-12">
        <TeamBlockTwo />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V3</span>
        <h2 class="title is-3">Meet the Team</h2>
        <p class="subtitle is-5 text-medium">
          Meet talented people with very solid expertise
        </p>
      </div>
  
      <!-- Team block v3 -->
      <div class="pb-12">
        <TeamBlockThree />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V4</span>
        <h2 class="title is-3">Meet the Team</h2>
        <p class="subtitle is-5 text-medium">
          Meet talented people with very solid expertise
        </p>
      </div>
  
      <!-- Team block v4 -->
      <div class="pb-12">
        <TeamBlockFour />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V5</span>
        <h2 class="title is-3">Meet the Team</h2>
        <p class="subtitle is-5 text-medium">
          Meet talented people with very solid expertise
        </p>
      </div>
  
      <!-- Team block v5 -->
      <div class="pb-12">
        <TeamBlockFive />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V6</span>
        <h2 class="title is-3">Meet the Team</h2>
        <p class="subtitle is-5 text-medium">
          Meet talented people with very solid expertise
        </p>
      </div>
  
      <!-- Team block v6 -->
      <div class="pb-12">
        <TeamBlockSix />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V7</span>
        <h2 class="title is-3">Meet the Team</h2>
        <p class="subtitle is-5 text-medium">
          Meet talented people with very solid expertise
        </p>
      </div>
  
      <!-- Team block v7 -->
      <div class="pb-12">
        <TeamBlockSeven />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V8</span>
        <h2 class="title is-3">Meet the Team</h2>
        <p class="subtitle is-5 text-medium">
          Meet talented people with very solid expertise
        </p>
      </div>
  
      <!-- Team block v8 -->
      <div class="pb-12">
        <TeamBlockEight />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V9</span>
        <h2 class="title is-3">Meet the Team</h2>
        <p class="subtitle is-5 text-medium">
          Meet talented people with very solid expertise
        </p>
      </div>
  
      <!-- Team block v9 -->
      <div class="pb-12">
        <TeamBlockNine />  
      </div>
    </div>
  </div>
  
  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined mb-2">Block V10</span>
        <h2 class="title is-3">Meet the Team</h2>
        <p class="subtitle is-5 text-medium">
          Meet talented people with very solid expertise
        </p>
      </div>
  
      <!-- Team block v10 -->
      <div class="pb-12">
        <TeamBlockTen />  
      </div>
    </div>
  </div>
  
  <!-- CTA -->
  <div class="section">
    <div class="container">
      <div class="py-6">
        <DoubleCta />  
      </div>
    </div>
  </div>
  
</Layout>