<div class="team-block-v10">
  <div class="mx-auto max-w-9">
    <div class="columns is-multiline b-columns-half-tablet-p">
      <!-- Team member -->
      <div class="column is-6">
        <div class="media is-align-items-center mb-8">
          <div class="media-left">
            <img
              class="block size-120x120 is-rounded-lg"
              src="/img/photo/400x400/6.jpg"
              alt="Photo"
            />
          </div>
          <div class="media-content ml-2">
            <h4 class="title is-5 dark-text">Garry Burton</h4>
            <p class="subtitle is-6 text-light rem-90">Backend Developer</p>
            <p class="-mt-4 text-medium rem-90">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
              iste, inquam.
            </p>
          </div>
        </div>
      </div>
      <!-- Team member -->
      <div class="column is-6">
        <div class="media is-align-items-center mb-8">
          <div class="media-left">
            <img
              class="block size-120x120 is-rounded-lg"
              src="/img/photo/400x400/1.jpg"
              alt="Photo"
            />
          </div>
          <div class="media-content ml-2">
            <h4 class="title is-5 dark-text">Boss Yamada</h4>
            <p class="subtitle is-6 text-light rem-90">Fullstack Engineer</p>
            <p class="-mt-4 text-medium rem-90">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
              iste, inquam.
            </p>
          </div>
        </div>
      </div>
      <!-- Team member -->
      <div class="column is-6">
        <div class="media is-align-items-center mb-8">
          <div class="media-left">
            <img
              class="block size-120x120 is-rounded-lg"
              src="/img/photo/400x400/7.jpg"
              alt="Photo"
            />
          </div>
          <div class="media-content ml-2">
            <h4 class="title is-5 dark-text">Norma Reed</h4>
            <p class="subtitle is-6 text-light rem-90">Mobile Developer</p>
            <p class="-mt-4 text-medium rem-90">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
              iste, inquam.
            </p>
          </div>
        </div>
      </div>
      <!-- Team member -->
      <div class="column is-6">
        <div class="media is-align-items-center mb-8">
          <div class="media-left">
            <img
              class="block size-120x120 is-rounded-lg"
              src="/img/photo/400x400/4.jpg"
              alt="Photo"
            />
          </div>
          <div class="media-content ml-2">
            <h4 class="title is-5 dark-text">Michael Owens</h4>
            <p class="subtitle is-6 text-light rem-90">Frontend Developer</p>
            <p class="-mt-4 text-medium rem-90">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
              iste, inquam.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
