<div class="team-block-v3">
  <div class="columns is-multiline b-columns-half-tablet-p">
    <!-- Team Member -->
    <div class="column is-3">
      <div class="has-text-centered">
        <img
          class="block mx-auto size-150x150 is-circle mb-3"
          src="/img/photo/400x400/1.jpg"
          alt="Photo"
        />
        <div>
          <h4 class="title is-6 is-narrow">Boss Yamada</h4>
          <p class="text-light rem-90">Fullstack Engineer</p>
        </div>
        <div
          class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
        >
          <a href="#" class="icon-link size-32x32 is-circle mx-1">
            <i class="iconify rem-100" data-icon="fa-brands:linkedin-in"></i>
          </a>
          <a href="#" class="icon-link size-32x32 is-circle mx-1">
            <i class="iconify rem-100" data-icon="fa-brands:github"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Team Member -->
    <div class="column is-3">
      <div class="has-text-centered">
        <img
          class="block mx-auto size-150x150 is-circle mb-3"
          src="/img/photo/400x400/2.jpg"
          alt="Photo"
        />
        <div>
          <h4 class="title is-6 is-narrow">Anton Domenev</h4>
          <p class="text-light rem-90">Solution Architect</p>
        </div>
        <div
          class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
        >
          <a href="#" class="icon-link size-32x32 is-circle mx-1">
            <i class="iconify rem-100" data-icon="fa-brands:linkedin-in"></i>
          </a>
          <a href="#" class="icon-link size-32x32 is-circle mx-1">
            <i class="iconify rem-100" data-icon="fa-brands:github"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Team Member -->
    <div class="column is-3">
      <div class="has-text-centered">
        <img
          class="block mx-auto size-150x150 is-circle mb-3"
          src="/img/photo/400x400/3.jpg"
          alt="Photo"
        />
        <div>
          <h4 class="title is-6 is-narrow">Keira Wilson</h4>
          <p class="text-light rem-90">UI/UX Designer</p>
        </div>
        <div
          class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
        >
          <a href="#" class="icon-link size-32x32 is-circle mx-1">
            <i class="iconify rem-100" data-icon="fa-brands:linkedin-in"></i>
          </a>
          <a href="#" class="icon-link size-32x32 is-circle mx-1">
            <i class="iconify rem-100" data-icon="fa-brands:dribbble"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Team Member -->
    <div class="column is-3">
      <div class="has-text-centered">
        <img
          class="block mx-auto size-150x150 is-circle mb-3"
          src="/img/photo/400x400/4.jpg"
          alt="Photo"
        />
        <div>
          <h4 class="title is-6 is-narrow">Michael Owens</h4>
          <p class="text-light rem-90">Frontend Developer</p>
        </div>
        <div
          class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
        >
          <a href="#" class="icon-link size-32x32 is-circle mx-1">
            <i class="iconify rem-100" data-icon="fa-brands:linkedin-in"></i>
          </a>
          <a href="#" class="icon-link size-32x32 is-circle mx-1">
            <i class="iconify rem-100" data-icon="fa-brands:github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
