<div class="team-block-v5">
  <div class="mx-auto max-w-9">
    <div class="columns is-multiline b-columns-half-tablet-p">
      <!-- Team Member -->
      <div class="column is-one-fifth">
        <div class="has-text-centered my-2">
          <img
            class="block mx-auto size-90x90 is-rounded-lg mb-3"
            src="/img/photo/400x400/1.jpg"
            alt="Photo"
          />
          <div>
            <h4 class="title is-6 is-narrow">Boss Yamada</h4>
            <p class="text-light rem-90">Fullstack Engineer</p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
          >
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:linkedin-in"></i>
            </a>
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:github"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Team Member -->
      <div class="column is-one-fifth">
        <div class="has-text-centered my-2">
          <img
            class="block mx-auto size-90x90 is-rounded-lg mb-3"
            src="/img/photo/400x400/2.jpg"
            alt="Photo"
          />
          <div>
            <h4 class="title is-6 is-narrow">Anton Domenev</h4>
            <p class="text-light rem-90">Solution Architect</p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
          >
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:linkedin-in"></i>
            </a>
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:github"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Team Member -->
      <div class="column is-one-fifth">
        <div class="has-text-centered my-2">
          <img
            class="block mx-auto size-90x90 is-rounded-lg mb-3"
            src="/img/photo/400x400/3.jpg"
            alt="Photo"
          />
          <div>
            <h4 class="title is-6 is-narrow">Keira Wilson</h4>
            <p class="text-light rem-90">UI/UX Designer</p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
          >
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:linkedin-in"></i>
            </a>
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:dribbble"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Team Member -->
      <div class="column is-one-fifth">
        <div class="has-text-centered my-2">
          <img
            class="block mx-auto size-90x90 is-rounded-lg mb-3"
            src="/img/photo/400x400/4.jpg"
            alt="Photo"
          />
          <div>
            <h4 class="title is-6 is-narrow">Michael Owens</h4>
            <p class="text-light rem-90">Frontend Developer</p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
          >
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:linkedin-in"></i>
            </a>
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:github"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Team Member -->
      <div class="column is-one-fifth">
        <div class="has-text-centered my-2">
          <img
            class="block mx-auto size-90x90 is-rounded-lg mb-3"
            src="/img/photo/400x400/5.jpg"
            alt="Photo"
          />
          <div>
            <h4 class="title is-6 is-narrow">Karina Modric</h4>
            <p class="text-light rem-90">UI/UX Designer</p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
          >
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:linkedin-in"></i>
            </a>
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:dribbble"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Team Member -->
      <div class="column is-one-fifth">
        <div class="has-text-centered my-2">
          <img
            class="block mx-auto size-90x90 is-rounded-lg mb-3"
            src="/img/photo/400x400/6.jpg"
            alt="Photo"
          />
          <div>
            <h4 class="title is-6 is-narrow">Garry Burton</h4>
            <p class="text-light rem-90">Backend Developer</p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
          >
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:linkedin-in"></i>
            </a>
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:github"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Team Member -->
      <div class="column is-one-fifth">
        <div class="has-text-centered my-2">
          <img
            class="block mx-auto size-90x90 is-rounded-lg mb-3"
            src="/img/photo/400x400/7.jpg"
            alt="Photo"
          />
          <div>
            <h4 class="title is-6 is-narrow">Norma Reed</h4>
            <p class="text-light rem-90">Mobile Developer</p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
          >
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:linkedin-in"></i>
            </a>
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:github"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Team Member -->
      <div class="column is-one-fifth">
        <div class="has-text-centered my-2">
          <img
            class="block mx-auto size-90x90 is-rounded-lg mb-3"
            src="/img/photo/400x400/8.jpg"
            alt="Photo"
          />
          <div>
            <h4 class="title is-6 is-narrow">Chuco Jimenez</h4>
            <p class="text-light rem-90">Backend Developer</p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
          >
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:linkedin-in"></i>
            </a>
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:github"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Team Member -->
      <div class="column is-one-fifth">
        <div class="has-text-centered my-2">
          <img
            class="block mx-auto size-90x90 is-rounded-lg mb-3"
            src="/img/photo/400x400/9.jpg"
            alt="Photo"
          />
          <div>
            <h4 class="title is-6 is-narrow">Jim Owens</h4>
            <p class="text-light rem-90">Marketing Partner</p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
          >
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:linkedin-in"></i>
            </a>
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:twitter"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Team Member -->
      <div class="column is-one-fifth">
        <div class="has-text-centered my-2">
          <img
            class="block mx-auto size-90x90 is-rounded-lg mb-3"
            src="/img/photo/400x400/10.jpg"
            alt="Photo"
          />
          <div>
            <h4 class="title is-6 is-narrow">Emma Stark</h4>
            <p class="text-light rem-90">Team Manager</p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-center text-primary mt-2"
          >
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:linkedin-in"></i>
            </a>
            <a href="#" class="icon-link size-28x28 is-circle mx-1">
              <i class="iconify rem-90" data-icon="fa-brands:github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
