<div class="team-block-v8">
  <div class="mx-auto max-w-9">
    <div class="columns is-multiline b-columns-half-tablet-p">
      <!-- Team Member -->
      <div class="column is-4">
        <div class="has-text-centered mb-8">
          <img class="block" src="/img/photo/400x400/6.jpg" alt="Photo" />
          <div>
            <h3 class="title is-6">Garry Burton</h3>
            <p class="subtitle rem-90 text-light">Backend Developer</p>
            <p class="text-medium -mt-4 mx-auto max-w-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div
              class="is-flex is-align-items-center is-justify-content-center text-primary mt-4"
            >
              <i class="iconify rem-150 mx-2" data-icon="mdi:language-csharp"
              ></i>
              <i class="iconify rem-150 mx-2" data-icon="mdi:nodejs"></i>
              <i class="iconify rem-150 mx-2" data-icon="mdi:laravel"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member -->
      <div class="column is-4">
        <div class="has-text-centered mb-8">
          <img class="block" src="/img/photo/400x400/2.jpg" alt="Photo" />
          <div>
            <h3 class="title is-6">Anton Domenev</h3>
            <p class="subtitle rem-90 text-light">Solution Architect</p>
            <p class="text-medium -mt-4 mx-auto max-w-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div
              class="is-flex is-align-items-center is-justify-content-center text-primary mt-4"
            >
              <i class="iconify rem-125 mx-2" data-icon="simple-icons:strapi"
              ></i>
              <i class="iconify rem-150 mx-2" data-icon="file-icons:kubernetes"
              ></i>
              <i class="iconify rem-150 mx-2" data-icon="simple-icons:nestjs"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member -->
      <div class="column is-4">
        <div class="has-text-centered mb-8">
          <img class="block" src="/img/photo/400x400/7.jpg" alt="Photo" />
          <div>
            <h3 class="title is-6">Norma Reed</h3>
            <p class="subtitle rem-90 text-light">Mobile Developer</p>
            <p class="text-medium -mt-4 mx-auto max-w-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div
              class="is-flex is-align-items-center is-justify-content-center text-primary mt-4"
            >
              <i class="iconify rem-150 mx-2" data-icon="uil:android"></i>
              <i class="iconify rem-150 mx-2" data-icon="mdi:language-swift"
              ></i>
              <i
                class="iconify rem-150 mx-2"
                data-icon="material-symbols:flutter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
