<div class="team-block-v9">
  <div class="mx-auto max-w-9">
    <div class="columns is-multiline b-columns-third-tablet-p">
      <!--  Member -->
      <div class="column is-4">
        <div class="box p-4">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-52x52 is-circle"
                src="/img/photo/400x400/1.jpg"
                alt="Photo"
              />
            </div>
            <div class="media-content">
              <h4 class="title is-6 is-narrow">Boss Yamada</h4>
              <p class="rem-90 text-light">Fullstack Engineer</p>
            </div>
            <div class="media-right">
              <i
                class="iconify rem-150"
                data-icon="fluent:javascript-16-regular"></i>
            </div>
          </div>
        </div>
      </div>
      <!--  Member -->
      <div class="column is-4">
        <div class="box p-4">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-52x52 is-circle"
                src="/img/photo/400x400/7.jpg"
                alt="Photo"
              />
            </div>
            <div class="media-content">
              <h4 class="title is-6 is-narrow">Norma Reed</h4>
              <p class="rem-90 text-light">Mobile Developer</p>
            </div>
            <div class="media-right">
              <i class="iconify rem-150" data-icon="uil:android"></i>
            </div>
          </div>
        </div>
      </div>
      <!--  Member -->
      <div class="column is-4">
        <div class="box p-4">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-52x52 is-circle"
                src="/img/photo/400x400/6.jpg"
                alt="Photo"
              />
            </div>
            <div class="media-content">
              <h4 class="title is-6 is-narrow">Garry Burton</h4>
              <p class="rem-90 text-light">Backend Developer</p>
            </div>
            <div class="media-right">
              <i class="iconify rem-150" data-icon="mdi:laravel"></i>
            </div>
          </div>
        </div>
      </div>
      <!--  Member -->
      <div class="column is-4">
        <div class="box p-4">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-52x52 is-circle"
                src="/img/photo/400x400/2.jpg"
                alt="Photo"
              />
            </div>
            <div class="media-content">
              <h4 class="title is-6 is-narrow">Anton Domenev</h4>
              <p class="rem-90 text-light">Solution Architect</p>
            </div>
            <div class="media-right">
              <i class="iconify rem-150" data-icon="file-icons:kubernetes"></i>
            </div>
          </div>
        </div>
      </div>
      <!--  Member -->
      <div class="column is-4">
        <div class="box p-4">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-52x52 is-circle"
                src="/img/photo/400x400/3.jpg"
                alt="Photo"
              />
            </div>
            <div class="media-content">
              <h4 class="title is-6 is-narrow">Keira Wilson</h4>
              <p class="rem-90 text-light">UI/UX Designer</p>
            </div>
            <div class="media-right">
              <i class="iconify rem-150" data-icon="bx:bxl-sketch"></i>
            </div>
          </div>
        </div>
      </div>
      <!--  Member -->
      <div class="column is-4">
        <div class="box p-4">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-52x52 is-circle"
                src="/img/photo/400x400/4.jpg"
                alt="Photo"
              />
            </div>
            <div class="media-content">
              <h4 class="title is-6 is-narrow">Michael Owens</h4>
              <p class="rem-90 text-light">Frontend Developer</p>
            </div>
            <div class="media-right">
              <i class="iconify rem-125" data-icon="teenyicons:vue-solid"></i>
            </div>
          </div>
        </div>
      </div>
      <!--  Member -->
      <div class="column is-4">
        <div class="box p-4">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-52x52 is-circle"
                src="/img/photo/400x400/5.jpg"
                alt="Photo"
              />
            </div>
            <div class="media-content">
              <h4 class="title is-6 is-narrow">Karina Modric</h4>
              <p class="rem-90 text-light">UI/UX Designer</p>
            </div>
            <div class="media-right">
              <i class="iconify rem-125" data-icon="simple-icons:adobexd"></i>
            </div>
          </div>
        </div>
      </div>
      <!--  Member -->
      <div class="column is-4">
        <div class="box p-4">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-52x52 is-circle"
                src="/img/photo/400x400/8.jpg"
                alt="Photo"
              />
            </div>
            <div class="media-content">
              <h4 class="title is-6 is-narrow">Chuco Jimenez</h4>
              <p class="rem-90 text-light">Backend Developer</p>
            </div>
            <div class="media-right">
              <i class="iconify rem-125" data-icon="mdi:language-ruby"></i>
            </div>
          </div>
        </div>
      </div>
      <!--  Member -->
      <div class="column is-4">
        <div class="box p-4">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-52x52 is-circle"
                src="/img/photo/400x400/9.jpg"
                alt="Photo"
              />
            </div>
            <div class="media-content">
              <h4 class="title is-6 is-narrow">Jim Owens</h4>
              <p class="rem-90 text-light">Marketing Partner</p>
            </div>
            <div class="media-right">
              <i class="iconify rem-125" data-icon="bx:bxl-mailchimp"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
