<div class="team-block-v2">
  <div class="columns is-multiline b-columns-half-tablet-p">
    <!-- Team Member -->
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <img src="/img/photo/400x280/1.jpg" alt="Photo" />
        </div>
        <div class="card-content">
          <div class="media is-align-items-center">
            <div class="media-left">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-muted text-primary"
              >
                <i class="iconify rem-125" data-icon="teenyicons:vue-solid"></i>
              </div>
            </div>
            <div class="media-content">
              <p class="title is-6">Boss Yamada</p>
              <p class="subtitle rem-80 text-light">Fullstack Engineer</p>
            </div>
          </div>
          <p class="text-medium rem-90">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div
            class="is-flex is-justify-content-space-between is-align-items-center mt-4"
          >
            <div class="is-flex is-align-items-center text-primary">
              <i
                class="iconify rem-150 mr-2"
                data-icon="fluent:javascript-16-regular"></i>
              <i class="iconify rem-150 mr-2" data-icon="mdi:nodejs"></i>
              <i
                class="iconify rem-150 mr-2"
                data-icon="mdi:language-typescript"></i>
            </div>
            <div
              class="is-flex is-align-items-center is-justify-content-flex-end text-primary"
            >
              <a href="#" class="icon-link size-32x32 is-circle ml-2">
                <i class="iconify rem-100" data-icon="fa-brands:linkedin-in"
                ></i>
              </a>
              <a href="#" class="icon-link size-32x32 is-circle ml-2">
                <i class="iconify rem-100" data-icon="fa-brands:github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member -->
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <img src="/img/photo/400x280/2.jpg" alt="Photo" />
        </div>
        <div class="card-content">
          <div class="media is-align-items-center">
            <div class="media-left">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-muted text-primary"
              >
                <i class="iconify rem-125" data-icon="ion:logo-figma"></i>
              </div>
            </div>
            <div class="media-content">
              <p class="title is-6">Anya Pimiescu</p>
              <p class="subtitle rem-80 text-light">UI/UX Designer</p>
            </div>
          </div>
          <p class="text-medium rem-90">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div
            class="is-flex is-justify-content-space-between is-align-items-center mt-4"
          >
            <div class="is-flex is-align-items-center text-primary">
              <i class="iconify rem-150 mr-2" data-icon="bx:bxl-sketch"></i>
              <i
                class="iconify rem-125 mr-2"
                data-icon="simple-icons:adobeillustrator"></i>
              <i class="iconify rem-125 mr-2" data-icon="simple-icons:adobexd"
              ></i>
            </div>
            <div
              class="is-flex is-align-items-center is-justify-content-flex-end text-primary"
            >
              <a href="#" class="icon-link size-32x32 is-circle ml-2">
                <i class="iconify rem-100" data-icon="fa-brands:linkedin-in"
                ></i>
              </a>
              <a href="#" class="icon-link size-32x32 is-circle ml-2">
                <i class="iconify rem-100" data-icon="fa-brands:dribbble"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member -->
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <img src="/img/photo/400x280/3.jpg" alt="Photo" />
        </div>
        <div class="card-content">
          <div class="media is-align-items-center">
            <div class="media-left">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-muted text-primary"
              >
                <i class="iconify rem-125" data-icon="file-icons:kubernetes"
                ></i>
              </div>
            </div>
            <div class="media-content">
              <p class="title is-6">Anton Domenev</p>
              <p class="subtitle rem-80 text-light">Solution Architect</p>
            </div>
          </div>
          <p class="text-medium rem-90">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div
            class="is-flex is-justify-content-space-between is-align-items-center mt-4"
          >
            <div class="is-flex is-align-items-center text-primary">
              <i class="iconify rem-125 mr-2" data-icon="simple-icons:strapi"
              ></i>
              <i class="iconify rem-150 mr-2" data-icon="mdi:firebase"></i>
              <i class="iconify rem-150 mr-2" data-icon="simple-icons:nestjs"
              ></i>
            </div>
            <div
              class="is-flex is-align-items-center is-justify-content-flex-end text-primary"
            >
              <a href="#" class="icon-link size-32x32 is-circle ml-2">
                <i class="iconify rem-100" data-icon="fa-brands:linkedin-in"
                ></i>
              </a>
              <a href="#" class="icon-link size-32x32 is-circle ml-2">
                <i class="iconify rem-100" data-icon="fa-brands:github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
