<div class="team-block-v1">
  <div class="columns is-multiline b-columns-half-tablet-p">
    <!-- Team Member -->
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <img src="/img/photo/400x280/1.jpg" alt="" />
        </div>
        <div class="card-content">
          <div class="media is-align-items-center">
            <div class="media-left">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-muted text-primary"
              >
                <i class="iconify rem-125" data-icon="teenyicons:vue-solid"></i>
              </div>
            </div>
            <div class="media-content">
              <p class="title is-6">Boss Yamada</p>
              <p class="subtitle rem-80 text-light">Fullstack Engineer</p>
            </div>
          </div>
          <p class="text-medium rem-90">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
    <!-- Team Member -->
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <img src="/img/photo/400x280/2.jpg" alt="" />
        </div>
        <div class="card-content">
          <div class="media is-align-items-center">
            <div class="media-left">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-muted text-primary"
              >
                <i class="iconify rem-125" data-icon="ion:logo-figma"></i>
              </div>
            </div>
            <div class="media-content">
              <p class="title is-6">Anya Pimiescu</p>
              <p class="subtitle rem-80 text-light">UI/UX Designer</p>
            </div>
          </div>
          <p class="text-medium rem-90">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
    <!-- Team Member -->
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <img src="/img/photo/400x280/3.jpg" alt="" />
        </div>
        <div class="card-content">
          <div class="media is-align-items-center">
            <div class="media-left">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-muted text-primary"
              >
                <i class="iconify rem-125" data-icon="file-icons:kubernetes"
                ></i>
              </div>
            </div>
            <div class="media-content">
              <p class="title is-6">Anton Domenev</p>
              <p class="subtitle rem-80 text-light">Solution Architect</p>
            </div>
          </div>
          <p class="text-medium rem-90">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
    <!-- Team Member -->
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <img src="/img/photo/400x280/4.jpg" alt="" />
        </div>
        <div class="card-content">
          <div class="media is-align-items-center">
            <div class="media-left">
              <div
                class="is-flex is-justify-content-center is-align-items-center size-44x44 is-circle bg-muted text-primary"
              >
                <i class="iconify rem-125" data-icon="bxs:bone"></i>
              </div>
            </div>
            <div class="media-content">
              <p class="title is-6">Tony T. Chopper</p>
              <p class="subtitle rem-80 text-light">Cheer Leader</p>
            </div>
          </div>
          <p class="text-medium rem-90">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
