<div
  class="w-full max-w-8 mobile:p-4 small:p-6 large:p-6 wide:p-6 big:p-6 huge:p-6 bg-muted mx-auto"
>
  <div class="columns is-vcentered b-flex-tablet-p">
    <div class="column is-6">
      <div class="card mobile:p-4 small:p-6 large:p-6 wide:p-6 py-6">
        <div class="has-text-centered">
          <h3 class="title is-4 is-spaced">On-Demand</h3>
          <p class="subtitle is-6 mx-auto max-w-3 text-medium">
            You need to customise this template or you need a brand new design?
            Hit us.
          </p>
          <div class="buttons is-centered">
            <a
              href="https://cssninja.io/contact"
              class="button is-primary raised w-full max-w-2 is-long-1"
              >Contact Sales</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="column is-6">
      <div class="card mobile:p-4 small:p-6 large:p-6 wide:p-6 py-6">
        <div class="has-text-centered">
          <h3 class="title is-4 is-spaced">Need Support?</h3>
          <p class="subtitle is-6 mx-auto max-w-3 text-medium">
            You an issue or simply want to ask a question? Feel free to open a
            ticket.
          </p>
          <div class="buttons is-centered">
            <a
              href="https://support.cssninja.io"
              class="button w-full max-w-2 is-long-1">Support Portal</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
