<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <img
          class="footer-logo light-image-block"
          src="/img/logo/minimal.svg"
          alt="Logo"
        />
        <img
          class="footer-logo dark-image-block"
          src="/img/logo/minimal-white.svg"
          alt="Logo"
        />
        <p class="footer-text">
          Minimal is a fresh and cutting edge Bulma UI kit built with Alpine JS.
          Everything you need to start is right there!
        </p>
        <div class="socials">
          <a><i class="iconify" data-icon="fa:instagram"></i></a>
          <a><i class="iconify" data-icon="fa:facebook"></i></a>
          <a><i class="iconify" data-icon="fa:pinterest"></i></a>
          <a><i class="iconify" data-icon="fa:medium"></i></a>
        </div>
      </div>
      <div class="column is-2 is-offset-2">
        <h4 class="title is-6">Company</h4>
        <ul class="footer-menu">
          <li><a href="#" class="footer-link">Services</a></li>
          <li><a href="#" class="footer-link">How we work</a></li>
          <li><a href="#" class="footer-link">Get a quote</a></li>
          <li><a href="#" class="footer-link">Case studies</a></li>
        </ul>
      </div>
      <div class="column is-2">
        <h4 class="title is-6">More</h4>
        <ul class="footer-menu">
          <li><a href="#" class="footer-link">About</a></li>
          <li><a href="#" class="footer-link">Company</a></li>
          <li><a href="#" class="footer-link">Terms Of Service</a></li>
          <li><a href="#" class="footer-link">Assistance</a></li>
        </ul>
      </div>
      <div class="column is-5">
        <h4 class="title is-6">Find Us</h4>
        <ul class="footer-menu">
          <li>55 Calle Principe Ave. 90893</li>
          <li>San Diego, CA.</li>
          <li>hello@minimal.io</li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <div class="subscribe">
        <div class="control">
          <input class="input" placeholder="Subscribe" />
          <button class="button is-solid">Subscribe</button>
        </div>
      </div>
      <div class="copyright-text">
        <a href="cssninja.io" target="_blank"
          ><img
            class="copyright-logo"
            src="/img/logo/cssninja.svg"
            width="112"
            height="28"
            alt=""
          />
        </a>
        &copy;
      </div>
    </div>
  </div>
</footer>
