<div
  class="megamenu"
  x-bind:class="{
    'is-active': megamenuOpened,
    '': !megamenuOpened,
  }"
>
  <!--Megamenu 1-->
  <div x-show="openedMegamenu === 'megamenu-1'" class="megamenu-inner">
    <button class="close-button" x-on:click="megamenuOpened = !megamenuOpened">
      <i class="iconify" data-icon="lucide:arrow-left"></i>
    </button>
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div class="megamenu-block">
            <div class="media">
              <div class="media-left text-primary">
                <i class="iconify" data-icon="ph:grid-four-duotone"></i>
              </div>
              <div class="media-content">
                <h3 class="text-rainbow">Elements</h3>
                <p>
                  Minimal ships with prebuilt and reusable elements that you can
                  assemble to build your webpages
                </p>
                <a class="action-link" href="/elements">
                  <span>Explore all elements</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="megamenu-block has-margin">
            <h4 class="text-rainbow">Categories</h4>
            <ul>
              <li>
                <a
                  href="/elements#button-element"
                  class="slide-link is-default"
                >
                  <span>Button</span>
                </a>
              </li>
              <li>
                <a
                  href="/elements#dropdown-element"
                  class="slide-link is-default"
                >
                  <span>Dropdown</span>
                </a>
              </li>
              <li>
                <a
                  href="/elements#avatar-element"
                  class="slide-link is-default"
                >
                  <span>Avatar</span>
                </a>
              </li>
              <li>
                <a href="/table" class="slide-link is-default">
                  <span>Table</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="column is-6">
          <div class="megamenu-block">
            <div class="showcase">
              <a href="/elements#modal-element" class="showcase-item">
                <img src="/img/photo/ui/1.png" alt="showcase photo" />
                <div class="showcase-content">
                  <div>
                    <h5 class="title is-6 is-narrow">Modal dialog</h5>
                    <p>Javascript included</p>
                  </div>
                  <i class="iconify" data-icon="ph:selection-duotone"></i>
                </div>
              </a>
              <a href="/table" class="showcase-item">
                <img src="/img/photo/ui/2.png" alt="showcase photo" />
                <div class="showcase-content">
                  <div>
                    <h5 class="title is-6 is-narrow">HTML Table</h5>
                    <p>Table layout variations</p>
                  </div>
                  <i class="iconify" data-icon="ph:layout-duotone"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Megamenu 2-->
  <div x-show="openedMegamenu === 'megamenu-2'" class="megamenu-inner">
    <button class="close-button" x-on:click="megamenuOpened = !megamenuOpened">
      <i class="iconify" data-icon="lucide:arrow-left"></i>
    </button>
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div class="megamenu-block">
            <div class="media">
              <div class="media-left text-primary">
                <i class="iconify" data-icon="ph:receipt-duotone"></i>
              </div>
              <div class="media-content">
                <h3 class="text-rainbow">Form controls</h3>
                <p>
                  Minimal offers a lot of prebuilt form controls. You can easily
                  copy and paste them to create your forms.
                </p>
                <a class="action-link" href="/form">
                  <span>Explore form controls</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="megamenu-block has-margin">
            <h4 class="text-rainbow">Categories</h4>
            <ul>
              <li>
                <a href="/form#form-inputs" class="slide-link is-default">
                  <span>Input</span>
                </a>
              </li>
              <li>
                <a href="/form#form-selects" class="slide-link is-default">
                  <span>Select</span>
                </a>
              </li>
              <li>
                <a
                  href="/form#form-checkbox"
                  class="slide-link is-default"
                >
                  <span>Checkbox</span>
                </a>
              </li>
              <li>
                <a href="/form#form-switch" class="slide-link is-default">
                  <span>Switch</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="column is-6">
          <div class="megamenu-block">
            <div class="showcase">
              <a href="/form#form-datepicker" class="showcase-item">
                <img src="/img/photo/ui/3.png" alt="showcase photo" />
                <div class="showcase-content">
                  <div>
                    <h5 class="title is-6 is-narrow">Datepicker</h5>
                    <p>Plugin included</p>
                  </div>
                  <i class="iconify" data-icon="ph:calendar-blank-duotone"></i>
                </div>
              </a>
              <a href="/form#form-autocomplete" class="showcase-item">
                <img src="/img/photo/ui/4.png" alt="showcase photo" />
                <div class="showcase-content">
                  <div>
                    <h5 class="title is-6 is-narrow">Autocomplete</h5>
                    <p>Plugin included</p>
                  </div>
                  <i class="iconify" data-icon="ph:gradient-duotone"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Megamenu 3-->
  <div x-show="openedMegamenu === 'megamenu-3'" class="megamenu-inner">
    <button class="close-button" x-on:click="megamenuOpened = !megamenuOpened">
      <i class="iconify" data-icon="lucide:arrow-left"></i>
    </button>
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div class="megamenu-block">
            <div class="media">
              <div class="media-left text-primary">
                <i class="iconify" data-icon="ph:selection-background-duotone"
                ></i>
              </div>
              <div class="media-content">
                <h3 class="text-rainbow">Blocks</h3>
                <p>
                  Minimal offers a lot of prebuilt form controls. You can easily
                  copy and paste them to create your forms.
                </p>
                <a class="action-link" href="/features">
                  <span>Explore feature blocks</span>
                  <i class="iconify" data-icon="lucide:arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="megamenu-block has-margin">
            <h4 class="text-rainbow">Categories</h4>
            <ul>
              <li>
                <a href="/team" class="slide-link is-default">
                  <span>Team</span>
                </a>
              </li>
              <li>
                <a href="/pricing" class="slide-link is-default">
                  <span>Pricing</span>
                </a>
              </li>
              <li>
                <a href="/call" class="slide-link is-default">
                  <span>Call to action</span>
                </a>
              </li>
              <li>
                <a href="/testimonials" class="slide-link is-default">
                  <span>Testimonials</span>
                </a>
              </li>
              <li>
                <a href="/video" class="slide-link is-default">
                  <span>Video</span>
                </a>
              </li>
              <li>
                <a href="/posts" class="slide-link is-default">
                  <span>Post grid</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="column is-6">
          <div class="megamenu-block">
            <div class="showcase">
              <a href="/features" class="showcase-item">
                <img src="/img/photo/ui/5.png" alt="showcase photo" />
                <div class="showcase-content">
                  <div>
                    <h5 class="title is-6 is-narrow">Features</h5>
                    <p>Prebuilt feature sections</p>
                  </div>
                  <i class="iconify" data-icon="ph:sparkle-duotone"></i>
                </div>
              </a>
              <a href="/content" class="showcase-item">
                <img src="/img/photo/ui/6.png" alt="showcase photo" />
                <div class="showcase-content">
                  <div>
                    <h5 class="title is-6 is-narrow">Content</h5>
                    <p>Prebuilt content sections</p>
                  </div>
                  <i class="iconify" data-icon="ph:circles-three-plus-duotone"
                  ></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
