<div class="testimonial-block-v1">
  <div class="columns has-text-centered py-6">
    <div class="column mb-6">
      <i class="iconify rem-150 text-primary" data-icon="fa6-solid:quote-left"
      ></i>
      <p class="block mx-auto max-w-4 text-medium px-4">
        It's a really cool network. Like, we had a fight with Richard at one
        point, and I think they deleted some of my data, but then they brought
        it back. Just bro's being bro's.
      </p>
      <div class="level mt-4 mb-4">
        <div class="level-item">
          <figure class="image size-64x64">
            <img
              class="block size-64x64 is-circle filter-gray"
              src="/img/avatars/52.jpg"
              alt="Avatar"
            />
          </figure>
        </div>
      </div>
      <h5 class="title is-6 is-narrow">Amy Walder</h5>
      <p class="rem-90 text-light">CEO at K-Hole</p>
    </div>

    <div class="column mb-6">
      <i class="iconify rem-150 text-primary" data-icon="fa6-solid:quote-left"
      ></i>
      <p class="block mx-auto max-w-4 text-medium px-4">
        It's a really cool network. Like, we had a fight with Richard at one
        point, and I think they deleted some of my data, but then they brought
        it back. Just bro's being bro's.
      </p>
      <div class="level mt-4 mb-4">
        <div class="level-item">
          <figure class="image size-64x64">
            <img
              class="block size-64x64 is-circle filter-gray"
              src="/img/avatars/32.jpg"
              alt="Avatar"
            />
          </figure>
        </div>
      </div>
      <h5 class="title is-6 is-narrow">Erin Smith</h5>
      <p class="rem-90 text-light">CEO at Bwarg</p>
    </div>

    <div class="column mb-6">
      <i class="iconify rem-150 text-primary" data-icon="fa6-solid:quote-left"
      ></i>
      <p class="block mx-auto max-w-4 text-medium px-4">
        It's a really cool network. Like, we had a fight with Richard at one
        point, and I think they deleted some of my data, but then they brought
        it back. Just bro's being bro's.
      </p>
      <div class="level mt-4 mb-4">
        <div class="level-item">
          <figure class="image size-64x64">
            <img
              class="block size-64x64 is-circle filter-gray"
              src="/img/avatars/45.jpg"
              alt="Avatar"
            />
          </figure>
        </div>
      </div>
      <h5 class="title is-6 is-narrow">Mike Hassler</h5>
      <p class="rem-90 text-light">CEO at NewLight</p>
    </div>
  </div>
</div>
