<div class="testimonial-block-v3">
  <div class="py-6">
    <div
      class="is-flex is-align-items-center d-column-r-mobile d-column-r-tablet-p max-w-7 mx-auto"
    >
      <div class="max-w-5">
        <i
          class="iconify rem-175 text-primary mb-4"
          data-icon="fa6-solid:quote-left"></i>
        <p class="block text-medium rem-100">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem iste,
          inquam, de voluptate quid sentit? Hanc quoque iucunditatem, si vis,
          transfer in animum; Erat enim Polemonis. Apparet statim, quae sint
          officia, quae actiones. Ita prorsus, inquam."
        </p>
        <div>
          <h5 class="title is-5 is-leading">Amy Walder</h5>
          <p class="rem-95 text-light">CEO at Infinity</p>
        </div>
      </div>

      <img
        class="block size-120x120 is-circle ml-auto small:mx-auto small:mb-4 filter-gray"
        src="/img/avatars/52.jpg"
        alt="Avatar"
      />
    </div>
  </div>
</div>
