<div class="testimonial-block-v5">
  <div class="py-6">
    <div class="columns is-multiline">
      <div class="column is-6">
        <div class="box p-6 small:p-4 is-flex max-w-7 mx-auto">
          <div class="max-w-5 ml-auto small:mx-auto">
            <i
              class="iconify rem-150 text-primary mb-4"
              data-icon="fa6-solid:quote-left"></i>
            <p class="block text-medium rem-100">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
              iste, inquam, de voluptate quid sentit? Hanc quoque iucunditatem,
              si vis, transfer in animum; Erat enim Polemonis. Apparet statim,
              quae sint officia."
            </p>
            <div class="is-flex is-align-items-center">
              <img
                class="block size-52x52 is-circle no-m filter-gray"
                src="/img/avatars/36.jpg"
                alt="Avatar"
              />
              <div class="ml-2">
                <h5 class="title is-6 is-narrow">Graziela Perez</h5>
                <p class="rem-90 text-light">CEO at WakeUp!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="box p-6 small:p-4 is-flex max-w-7 mx-auto">
          <div class="max-w-5 ml-auto small:mx-auto">
            <i
              class="iconify rem-150 text-primary mb-4"
              data-icon="fa6-solid:quote-left"></i>
            <p class="block text-medium rem-100">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Idem
              iste, inquam, de voluptate quid sentit? Hanc quoque iucunditatem,
              si vis, transfer in animum; Erat enim Polemonis. Apparet statim,
              quae sint officia."
            </p>
            <div class="is-flex is-align-items-center">
              <img
                class="block size-52x52 is-circle no-m filter-gray"
                src="/img/avatars/39.jpg"
                alt="Avatar"
              />
              <div class="ml-2">
                <h5 class="title is-6 is-narrow">Aidan Kemler</h5>
                <p class="rem-90 text-light">CEO at Kolaco</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
