<div class="posts-block-v3">
  <div class="columns is-multiline b-columns-half-tablet-p">
    <div class="column is-4">
      <div class="card">
        <div class="card-content">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-44x44 is-circle has-border filter-gray"
                src="/img/avatars/52.jpg"
                alt="Avatar"
              />
            </div>
            <div class="media-content">
              <p class="subtitle rem-80 text-uppercase text-light">News</p>
              <p class="title is-6">We just released 1.4.2</p>
            </div>
          </div>

          <div class="content">
            <p class="text-medium">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
              nec iaculis mauris.
            </p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-space-between"
          >
            <div>
              <a class="action-link" href="#">
                <span>Read More</span>
                <i class="iconify" data-icon="feather:arrow-right"></i>
              </a>
            </div>
            <div class="is-flex is-align-items-center">
              <div class="is-flex is-align-items-center text-light">
                <i class="iconify" data-icon="feather:eye"></i>
                <span class="ml-1">327</span>
              </div>
              <div class="mx-3"></div>
              <div class="is-flex is-align-items-center text-light">
                <i class="iconify" data-icon="feather:message-circle"></i>
                <span class="ml-1">12</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-content">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-44x44 is-circle has-border has-light-shadow filter-gray"
                src="/img/avatars/43.jpg"
                alt="Avatar"
              />
            </div>
            <div class="media-content">
              <p class="subtitle rem-80 text-uppercase text-light">Tech</p>
              <p class="title is-6">5 tips to handle pressure</p>
            </div>
          </div>

          <div class="content">
            <p class="text-medium">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
              nec iaculis mauris.
            </p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-space-between"
          >
            <div>
              <a class="action-link" href="#">
                <span>Read More</span>
                <i class="iconify" data-icon="feather:arrow-right"></i>
              </a>
            </div>
            <div class="is-flex is-align-items-center">
              <div class="is-flex is-align-items-center text-light">
                <i class="iconify" data-icon="feather:eye"></i>
                <span class="ml-1">1.4k</span>
              </div>
              <div class="mx-3"></div>
              <div class="is-flex is-align-items-center text-light">
                <i class="iconify" data-icon="feather:message-circle"></i>
                <span class="ml-1">195</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-content">
          <div class="media is-align-items-center">
            <div class="media-left">
              <img
                class="block size-44x44 is-circle has-border has-light-shadow filter-gray"
                src="/img/avatars/17.jpg"
                alt="Avatar"
              />
            </div>
            <div class="media-content">
              <p class="subtitle rem-80 text-uppercase text-light">Tutorials</p>
              <p class="title is-6">An article title</p>
            </div>
          </div>

          <div class="content">
            <p class="text-medium">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
              nec iaculis mauris.
            </p>
          </div>
          <div
            class="is-flex is-align-items-center is-justify-content-space-between"
          >
            <div>
              <a class="action-link" href="#">
                <span>Read More</span>
                <i class="iconify" data-icon="feather:arrow-right"></i>
              </a>
            </div>
            <div class="is-flex is-align-items-center">
              <div class="is-flex is-align-items-center text-light">
                <i class="iconify" data-icon="feather:eye"></i>
                <span class="ml-1">862</span>
              </div>
              <div class="mx-3"></div>
              <div class="is-flex is-align-items-center text-light">
                <i class="iconify" data-icon="feather:message-circle"></i>
                <span class="ml-1">72</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
