<div class="max-w-5" x-data="initAutocompletes()">
  <div class="columns">
    <div class="column is-6">
      <div class="field">
        <label>Basic</label>
        <div class="control has-icon">
          <input
            id="autocomplete-1"
            class="input"
            type="text"
            placeholder="Search..."
          />
          <span class="form-icon">
            <i class="iconify" data-icon="lucide:search"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="column is-6">
      <div class="field">
        <label>Groups</label>
        <div class="control has-icon">
          <input
            id="autocomplete-2"
            class="input"
            type="text"
            placeholder="Search..."
          />
          <span class="form-icon">
            <i class="iconify" data-icon="lucide:search"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="column is-6">
      <div class="field">
        <label>Custom</label>
        <div class="control has-icon">
          <input
            id="autocomplete-3"
            class="input"
            type="text"
            placeholder="Search..."
          />
          <span class="form-icon">
            <i class="iconify" data-icon="lucide:search"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
