<div class="max-w-4">
  <div class="field mb-5">
    <!-- Checkboxes -->
    <div class="control">
      <!-- Checkbox -->
      <label for="checkbox-1" class="checkbox">
        <input id="checkbox-1" type="checkbox" checked />
        <span class="checkbox-inner">
          <span class="checkbox-wrap">
            <span class="checkbox-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
          </span>
          <span class="checkbox-label">Option 1</span>
        </span>
      </label>

      <!-- Checkbox -->
      <label for="checkbox-2" class="checkbox">
        <input id="checkbox-2" type="checkbox" checked />
        <span class="checkbox-inner">
          <span class="checkbox-wrap">
            <span class="checkbox-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
          </span>
          <span class="checkbox-label">Option 2</span>
        </span>
      </label>

      <!-- Checkbox -->
      <label for="checkbox-3" class="checkbox">
        <input id="checkbox-3" type="checkbox" />
        <span class="checkbox-inner">
          <span class="checkbox-wrap">
            <span class="checkbox-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
          </span>
          <span class="checkbox-label">Option 3</span>
        </span>
      </label>
    </div>
  </div>

  <div class="field mb-5">
    <!-- Checkboxes -->
    <div class="control">
      <!-- Checkbox -->
      <label for="checkbox-round-1" class="checkbox is-round">
        <input id="checkbox-round-1" type="checkbox" />
        <span class="checkbox-inner">
          <span class="checkbox-wrap">
            <span class="checkbox-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
          </span>
          <span class="checkbox-label">Option 1</span>
        </span>
      </label>

      <!-- Checkbox -->
      <label for="checkbox-round-2" class="checkbox is-round">
        <input id="checkbox-round-2" type="checkbox" checked />
        <span class="checkbox-inner">
          <span class="checkbox-wrap">
            <span class="checkbox-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
          </span>
          <span class="checkbox-label">Option 2</span>
        </span>
      </label>

      <!-- Checkbox -->
      <label for="checkbox-round-3" class="checkbox is-round">
        <input id="checkbox-round-3" type="checkbox" />
        <span class="checkbox-inner">
          <span class="checkbox-wrap">
            <span class="checkbox-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
          </span>
          <span class="checkbox-label">Option 3</span>
        </span>
      </label>
    </div>
  </div>

  <div class="field mb-5">
    <!-- Checkboxes -->
    <div class="control">
      <!-- Checkbox -->
      <label for="checkbox-curve-1" class="checkbox is-curve">
        <input id="checkbox-curve-1" type="checkbox" checked />
        <span class="checkbox-inner">
          <span class="checkbox-wrap">
            <span class="checkbox-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
          </span>
          <span class="checkbox-label">Option 1</span>
        </span>
      </label>

      <!-- Checkbox -->
      <label for="checkbox-curve-2" class="checkbox is-curve">
        <input id="checkbox-curve-2" type="checkbox" />
        <span class="checkbox-inner">
          <span class="checkbox-wrap">
            <span class="checkbox-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
          </span>
          <span class="checkbox-label">Option 2</span>
        </span>
      </label>

      <!-- Checkbox -->
      <label for="checkbox-curve-3" class="checkbox is-curve">
        <input id="checkbox-curve-3" type="checkbox" />
        <span class="checkbox-inner">
          <span class="checkbox-wrap">
            <span class="checkbox-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>
          </span>
          <span class="checkbox-label">Option 3</span>
        </span>
      </label>
    </div>
  </div>
</div>

<div class="field">
  <!-- Checkboxes -->
  <div class="control">
    <!-- Checkbox -->
    <label for="checkbox-circle-1" class="checkbox is-circle">
      <input id="checkbox-circle-1" type="checkbox" />
      <span class="checkbox-inner">
        <span class="checkbox-wrap">
          <span class="checkbox-box">
            <svg width="32" height="32" viewBox="0 0 24 24">
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M20 6L9 17l-5-5"></path>
            </svg>
          </span>
        </span>
        <span class="checkbox-label">Option 1</span>
      </span>
    </label>

    <!-- Checkbox -->
    <label for="checkbox-circle-2" class="checkbox is-circle">
      <input id="checkbox-circle-2" type="checkbox" checked />
      <span class="checkbox-inner">
        <span class="checkbox-wrap">
          <span class="checkbox-box">
            <svg width="32" height="32" viewBox="0 0 24 24">
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M20 6L9 17l-5-5"></path>
            </svg>
          </span>
        </span>
        <span class="checkbox-label">Option 2</span>
      </span>
    </label>

    <!-- Checkbox -->
    <label for="checkbox-circle-3" class="checkbox is-circle">
      <input id="checkbox-circle-3" type="checkbox" checked />
      <span class="checkbox-inner">
        <span class="checkbox-wrap">
          <span class="checkbox-box">
            <svg width="32" height="32" viewBox="0 0 24 24">
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M20 6L9 17l-5-5"></path>
            </svg>
          </span>
        </span>
        <span class="checkbox-label">Option 3</span>
      </span>
    </label>
  </div>
</div>
