<div class="columns">
  <div class="column is-10">
    <div class="card mb-6">
      <div class="card-content p-12">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">From</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control is-expanded has-icon">
                <input class="input" type="text" placeholder="Name" />
                <div class="form-icon">
                  <i class="iconify" data-icon="lucide:user"></i>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control is-expanded has-icon">
                <input
                  class="input is-success"
                  type="email"
                  placeholder="Email"
                  value="johnbarry@gmail.com"
                />
                <div class="form-icon">
                  <i class="iconify" data-icon="lucide:mail"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field is-expanded">
              <div class="field has-addons">
                <p class="control">
                  <a class="button is-static"> +44</a>
                </p>
                <p class="control is-expanded">
                  <input
                    class="input"
                    type="tel"
                    placeholder="Your phone number"
                  />
                </p>
              </div>
              <p class="help text-light">Do not enter the first zero</p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Department</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icon">
                <div class="select is-fullwidth">
                  <select>
                    <option>Business development</option>
                    <option>Marketing</option>
                    <option>Sales</option>
                  </select>
                  <div class="form-icon">
                    <i class="iconify" data-icon="lucide:building"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal mt-5">
          <div class="field-label">
            <label class="label">Already a member?</label>
          </div>
          <div class="field-body">
            <div class="field">
              <!-- Radios -->
              <div class="control">
                <!-- Radio -->
                <label for="radio-form-horizontal-1" class="radio is-circle">
                  <input
                    id="radio-form-horizontal-1"
                    type="radio"
                    name="radio_circle"
                    checked
                  />
                  <span class="radio-inner">
                    <span class="radio-wrap">
                      <span class="radio-box">
                        <svg width="32" height="32" viewBox="0 0 24 24">
                          <circle
                            cx="12"
                            cy="12"
                            r="10"
                            fill="currentColor"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"></circle>
                        </svg>
                      </span>
                    </span>
                    <span class="radio-label">Yes</span>
                  </span>
                </label>

                <!-- Radio -->
                <label for="radio-form-horizontal-2" class="radio is-circle">
                  <input
                    id="radio-form-horizontal-2"
                    type="radio"
                    name="radio_circle"
                  />
                  <span class="radio-inner">
                    <span class="radio-wrap">
                      <span class="radio-box">
                        <svg width="32" height="32" viewBox="0 0 24 24">
                          <circle
                            cx="12"
                            cy="12"
                            r="10"
                            fill="currentColor"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"></circle>
                        </svg>
                      </span>
                    </span>
                    <span class="radio-label">No</span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Subject</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icon">
                <input
                  class="input is-danger"
                  type="text"
                  placeholder="e.g. Partnership opportunity"
                />
                <div class="form-icon">
                  <i class="iconify" data-icon="lucide:building"></i>
                </div>
              </div>
              <p class="help is-danger">This field is required</p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Question</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea
                  class="textarea"
                  placeholder="Explain how we can help you"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal mt-5">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="buttons is-right">
                  <button class="button is-primary is-long-3 raised"
                    >Send message</button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
