<div class="max-w-4">
  <!-- Input -->
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input type="text" class="input" placeholder="Username" />
    </div>
  </div>

  <!-- Input -->
  <div class="field">
    <label class="label">Search</label>
    <div class="control has-icon">
      <input type="text" class="input" placeholder="Search..." />
      <div class="form-icon">
        <i class="iconify" data-icon="lucide:search"></i>
      </div>
    </div>
  </div>

  <!-- Input -->
  <div class="field">
    <label class="label">Choose a date</label>
    <div class="control has-icon">
      <input type="text" class="input" placeholder="Disabled..." disabled />
      <div class="form-icon">
        <i class="iconify" data-icon="lucide:calendar"></i>
      </div>
    </div>
  </div>

  <!-- Input -->
  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icon is-loading">
      <input type="text" class="input" placeholder="Loading..." />
      <div class="form-icon">
        <i class="iconify" data-icon="lucide:user"></i>
      </div>
    </div>
  </div>

  <!-- Input validation -->
  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icon has-validation">
      <input
        class="input is-success"
        type="text"
        placeholder="Text input"
        value="John Doe"
      />
      <div class="form-icon">
        <i class="iconify" data-icon="lucide:user"></i>
      </div>
      <div class="validation-icon">
        <i class="iconify" data-icon="lucide:check"></i>
      </div>
    </div>
    <p class="help is-success">This username is available</p>
  </div>

  <!-- Input validation -->
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icon has-validation">
      <input
        class="input is-danger"
        type="text"
        placeholder="Text input"
        value="john@"
      />
      <div class="form-icon">
        <i class="iconify" data-icon="lucide:mail"></i>
      </div>
      <div class="validation-icon">
        <i class="iconify" data-icon="lucide:x"></i>
      </div>
    </div>
    <p class="help is-danger">This email is invalid</p>
  </div>
</div>
