<div class="max-w-4">
  <div class="field mb-5">
    <!-- Radios -->
    <div class="control">
      <!-- Radio -->
      <label for="radio-1" class="radio">
        <input id="radio-1" type="radio" name="radio_base" checked />
        <span class="radio-inner">
          <span class="radio-wrap">
            <span class="radio-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <circle
                  cx="12"
                  cy="12"
                  r="10"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></circle>
              </svg>
            </span>
          </span>
          <span class="radio-label">Option 1</span>
        </span>
      </label>

      <!-- Radio -->
      <label for="radio-2" class="radio">
        <input id="radio-2" type="radio" name="radio_base" />
        <span class="radio-inner">
          <span class="radio-wrap">
            <span class="radio-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <circle
                  cx="12"
                  cy="12"
                  r="10"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></circle>
              </svg>
            </span>
          </span>
          <span class="radio-label">Option 2</span>
        </span>
      </label>

      <!-- Radio -->
      <label for="radio-3" class="radio">
        <input id="radio-3" type="radio" name="radio_base" />
        <span class="radio-inner">
          <span class="radio-wrap">
            <span class="radio-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <circle
                  cx="12"
                  cy="12"
                  r="10"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></circle>
              </svg>
            </span>
          </span>
          <span class="radio-label">Option 3</span>
        </span>
      </label>
    </div>
  </div>

  <div class="field mb-5">
    <!-- Radios -->
    <div class="control">
      <!-- Radio -->
      <label for="radio-round-1" class="radio is-round">
        <input id="radio-round-1" type="radio" name="radio_round" checked />
        <span class="radio-inner">
          <span class="radio-wrap">
            <span class="radio-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <circle
                  cx="12"
                  cy="12"
                  r="10"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></circle>
              </svg>
            </span>
          </span>
          <span class="radio-label">Option 1</span>
        </span>
      </label>

      <!-- Radio -->
      <label for="radio-round-2" class="radio is-round">
        <input id="radio-round-2" type="radio" name="radio_round" />
        <span class="radio-inner">
          <span class="radio-wrap">
            <span class="radio-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <circle
                  cx="12"
                  cy="12"
                  r="10"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></circle>
              </svg>
            </span>
          </span>
          <span class="radio-label">Option 2</span>
        </span>
      </label>

      <!-- Radio -->
      <label for="radio-round-3" class="radio is-round">
        <input id="radio-round-3" type="radio" name="radio_round" />
        <span class="radio-inner">
          <span class="radio-wrap">
            <span class="radio-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <circle
                  cx="12"
                  cy="12"
                  r="10"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></circle>
              </svg>
            </span>
          </span>
          <span class="radio-label">Option 3</span>
        </span>
      </label>
    </div>
  </div>

  <div class="field mb-5">
    <!-- Radios -->
    <div class="control">
      <!-- Radio -->
      <label for="radio-curve-1" class="radio is-curve">
        <input id="radio-curve-1" type="radio" name="radio_curve" checked />
        <span class="radio-inner">
          <span class="radio-wrap">
            <span class="radio-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <circle
                  cx="12"
                  cy="12"
                  r="10"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></circle>
              </svg>
            </span>
          </span>
          <span class="radio-label">Option 1</span>
        </span>
      </label>

      <!-- Radio -->
      <label for="radio-curve-2" class="radio is-curve">
        <input id="radio-curve-2" type="radio" name="radio_curve" />
        <span class="radio-inner">
          <span class="radio-wrap">
            <span class="radio-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <circle
                  cx="12"
                  cy="12"
                  r="10"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></circle>
              </svg>
            </span>
          </span>
          <span class="radio-label">Option 2</span>
        </span>
      </label>

      <!-- Radio -->
      <label for="radio-curve-3" class="radio is-curve">
        <input id="radio-curve-3" type="radio" name="radio_curve" />
        <span class="radio-inner">
          <span class="radio-wrap">
            <span class="radio-box">
              <svg width="32" height="32" viewBox="0 0 24 24">
                <circle
                  cx="12"
                  cy="12"
                  r="10"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></circle>
              </svg>
            </span>
          </span>
          <span class="radio-label">Option 3</span>
        </span>
      </label>
    </div>
  </div>
</div>

<div class="field">
  <!-- Radios -->
  <div class="control">
    <!-- Radio -->
    <label for="radio-circle-1" class="radio is-circle">
      <input id="radio-circle-1" type="radio" name="radio_circle" checked />
      <span class="radio-inner">
        <span class="radio-wrap">
          <span class="radio-box">
            <svg width="32" height="32" viewBox="0 0 24 24">
              <circle
                cx="12"
                cy="12"
                r="10"
                fill="currentColor"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"></circle>
            </svg>
          </span>
        </span>
        <span class="radio-label">Option 1</span>
      </span>
    </label>

    <!-- Radio -->
    <label for="radio-circle-2" class="radio is-circle">
      <input id="radio-circle-2" type="radio" name="radio_circle" />
      <span class="radio-inner">
        <span class="radio-wrap">
          <span class="radio-box">
            <svg width="32" height="32" viewBox="0 0 24 24">
              <circle
                cx="12"
                cy="12"
                r="10"
                fill="currentColor"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"></circle>
            </svg>
          </span>
        </span>
        <span class="radio-label">Option 2</span>
      </span>
    </label>

    <!-- Radio -->
    <label for="radio-circle-3" class="radio is-circle">
      <input id="radio-circle-3" type="radio" name="radio_circle" />
      <span class="radio-inner">
        <span class="radio-wrap">
          <span class="radio-box">
            <svg width="32" height="32" viewBox="0 0 24 24">
              <circle
                cx="12"
                cy="12"
                r="10"
                fill="currentColor"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"></circle>
            </svg>
          </span>
        </span>
        <span class="radio-label">Option 3</span>
      </span>
    </label>
  </div>
</div>
