<div class="max-w-4">
  <!-- Select -->
  <div class="field">
    <label class="label">Hero</label>
    <div class="control">
      <div class="select is-fullwidth">
        <select>
          <option>Select a Hero</option>
          <option>Superman</option>
          <option>Spiderman</option>
          <option>Batman</option>
          <option>Ironman</option>
          <option>Cyclops</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Select -->
  <div class="field">
    <label class="label">Hero</label>
    <div class="control has-icon">
      <div class="select is-fullwidth">
        <select>
          <option>Select a Hero</option>
          <option>Superman</option>
          <option>Spiderman</option>
          <option>Batman</option>
          <option>Ironman</option>
          <option>Cyclops</option>
        </select>
        <div class="form-icon">
          <i class="iconify" data-icon="lucide:hexagon"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Select -->
  <div class="field">
    <label class="label">Hero</label>
    <div class="control is-loading">
      <div class="select is-fullwidth">
        <select>
          <option>Select a Hero</option>
          <option>Superman</option>
          <option>Spiderman</option>
          <option>Batman</option>
          <option>Ironman</option>
          <option>Cyclops</option>
        </select>
      </div>
    </div>
  </div>
</div>
