<div class="max-w-4">
  <div class="field is-grouped is-align-items-center">
    <div class="control">
      <!--Switch-->
      <label class="f-switch is-primary">
        <input type="checkbox" class="is-switch" />
        <i></i>
      </label>
    </div>
    <div class="control">
      <!--Switch-->
      <label class="f-switch is-primary">
        <input type="checkbox" class="is-switch" checked />
        <i></i>
      </label>
    </div>
    <div class="control">
      <!--Switch-->
      <div class="icon-toggle">
        <input id="icon-toggle-1" type="checkbox" />
        <label for="icon-toggle-1" class="no-margin">
          <span class="track">
            <span class="track-inner"></span>
            <span class="track-knob">
              <i class="iconify inactive" data-icon="lucide:sun"></i>
              <i class="iconify active" data-icon="lucide:moon"></i>
            </span>
          </span>
        </label>
      </div>
    </div>
    <div class="control">
      <!--Switch-->
      <div class="icon-toggle">
        <input id="icon-toggle-2" type="checkbox" checked />
        <label for="icon-toggle-2" class="no-margin">
          <span class="track">
            <span class="track-inner"></span>
            <span class="track-knob">
              <i class="iconify inactive" data-icon="lucide:frown"></i>
              <i class="iconify active" data-icon="lucide:smile"></i>
            </span>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>
