/* ==========================================================================
1. Base Resets
========================================================================== */

body {
  background: var(--html-bg-color);
  transition: background-color 0.3s;
}

code {
  background: var(--code-bg-color);
  color: var(--code-color);
}

hr {
  height: 1px;
  background: var(--card-border-color);

  &.is-inverted {
    background: var(--dark-bg-light-16);
  }
}

a {
  &.action-link,
  &.back-link {
    display: inline-flex;
    align-items: center;
    font-family: var(--font);
    font-weight: 500;
    color: var(--action-link-color);
    transition: color 0.3s, opacity 0.3s;

    .iconify {
      transition: transform 0.3s;
    }

    &:hover {
      color: var(--action-link-color-hover);
      opacity: 0.8;
    }
  }

  &.action-link {
    .iconify {
      margin-#{$start-direction}: 0.25rem;
    }

    &:hover {
      .iconify {
        transform: translateX(0.25rem);
      }
    }
  }

  &.back-link {
    .iconify {
      margin-#{$end-direction}: 0.25rem;
    }

    &:hover {
      .iconify {
        transform: translateX(-0.25rem);
      }
    }
  }

  &.hover-link {
    color: var(--primary);
    transition: color 0.3s;

    &:hover {
      color: var(--action-link-color-hover);
    }
  }

  &.icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: var(--wrap-muted-color);
    transition: color 0.3s;

    &:hover {
      color: var(--action-link-color-hover);
    }
  }

  &.slide-link {
    position: relative;
    font-size: 0.95rem;
    font-family: var(--font);
    color: var(--primary);

    &::after {
      content: "";
      position: absolute;
      bottom: -0.15rem;
      #{$start-direction}: 0;
      width: 0;
      height: 2px;
      background: var(--primary);
      transition: width 0.3s;
    }

    &:hover {
      color: var(--primary);

      &::after {
        width: 100%;
      }
    }

    &.is-default:not(:hover) {
      color: var(--light-text);
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    &:not(.has-sticky) {
      overflow-x: hidden;
    }
  }
}

@media only screen and (max-width: 767px) {
  body {
    overflow: hidden;
  }
}