/*
    1. Tabs
    2. Vertical Tabs
*/

/* ==========================================================================
1. Tabs
========================================================================== */

.tabs {
  ul {
    border-color: var(--wrap-border-color);

    li {
      &.is-active {
        a {
          color: var(--title-color);
          border-color: var(--primary);
        }
      }
  
      &:hover:not(.is-active) {
        a {
          color: var(--medium-text);
          border-color: transparent;
        }
      }
  
      a {
        color: var(--light-text);
        font-family: var(--font);
        border-width: 3px;
        border-color: transparent;
      }
    }
  }
}

/* ==========================================================================
2. Vertical Tabs
========================================================================== */

@media only screen and (max-width: 767px) {
  .tabs-container {
    &.is-vertical {
      .tabs {
        margin-bottom: 2.5rem;

        ul {
          li {
            &.is-active {
              a {
                border-bottom-color: var(--primary);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .tabs-container {
    &.is-vertical {
      display: flex;

      .tabs {
        flex-grow: 2;
        min-width: 25%;
        margin-#{$end-direction}: 60px;

        ul {
          display: block;
          text-align: left;
          border-bottom-color: transparent !important;

          li {
            display: block;

            &.is-active {
              a {
                border-#{$end-direction}-color: var(--primary);
              }
            }

            a {
              display: block;
              border-bottom-color: transparent !important;
              border-#{$end-direction}: 3px solid #dbdbdb;
            }
          }
        }
      }
    }
  }
}
